<p class="center-text">Threat analysis</p>
<div class="middle-text-space">
  <p>Deze pagina beschrijft de threat analyse. Hier kijk ik naar wat voor veelvoorkomende threats er zijn en welke relevant zijn binnen mijn applicatie.</p>
  <h3><b>Aanval types</b></h3>
	<p class="no-bottom-margin">Het is belangrijk om te weten met wat voor soort aanvalstechnieken we te maken hebben. Hiervoor zijn er een aantal van de veelvoorkomende aanvallen op een rijtje gezet. 
		Veelvoorkomende aanvallen binnen de cyber wereld zijn onder andere:</p>
  <ul>
    <li class="text">Malware, Trojans;</li>
    <li class="text">Phishing;</li>
    <li class="text">MitM;</li>
    <li class="text">Ransomware;</li>
    <li class="text">DDoS;</li>
    <li class="text">Injection;</li>
    <li class="text">Brute force;</li>
    <li class="text">Unknown attacks/zero-days.</li>
	</ul>
	<p>Ieder jaar komen er weer nieuwe cyberaanval-technieken aan en dus kan deze lijst vaak veranderen. Omdat deze nu momenteel nog onbekend zijn, vallen deze onder de 
		‘unknown attacks/zero-days’. Hierop kun je moeilijk anticiperen. Mogelijk is het beste wat daartegen te doen is, is het loggen en monitoren van ongebruikelijk of vreemd 
		gedrag binnen een applicatie wat niet onder te brengen is onder een van de bekendere technieken.</p>
	<br>
	<h3><b>Actoren</b></h3>
	<p class="no-bottom-margin">Het is ook belangrijk om de veelvoorkomende kwaadwillende actoren in kaart te brengen. Veelvoorkomende kwaadwillende actoren binnen de cyber wereld zijn de volgende:</p>
	<ul>
    <li class="text">Staat gesponseerde cyberaanvallen;</li>
    <li class="text">Script kiddies;</li>
    <li class="text">Cybercriminelen;</li>
    <li class="text">Ontevreden werknemers;</li>
    <li class="text">Hacktivisten.</li>
	</ul>
	<p>Veel van deze actoren voeren niet altijd dezelfde aanvallen uit. Veel aanvallen zijn gekoppeld aan een soort actor. Om dit in beeld te kunnen brengen, is het makkelijk 
		om een tabel te maken met hierin welke actor welke type aanval vaak uitvoert, en wat hun motivatie daarbij is.</p>
	<table>
		<tr>
			<th>Threat actor</th>
			<th>Motivatie</th>
			<th>Misuse activiteiten</th>
		</tr>
		<tr>
			<td>Staat gesponseerde cyberaanvallen</td>
			<td>Economie verbeteren van eigen land</td>
			<td>DDoS, Malware, Trojans, unknown attacks</td>
		</tr>
		<tr>
			<td>Script kiddies</td>
			<td>Leren en uitproberen van hacken</td>
			<td>DDoS, Injection, unknown attacks</td>
		</tr>
		<tr>
			<td>Cybercriminelen</td>
			<td>Geld verdienen</td>
			<td>Ransomware, Brute force, MitM, Phishing, unknown attacks</td>
		</tr>
		<tr>
			<td>Ontevreden werknemers</td>
			<td>Wraak</td>
			<td>DDoS, unknown attacks</td>
		</tr>
		<tr>
			<td>Hacktivisten</td>
			<td>Politieke aandacht trekken</td>
			<td>Malware, Trojans, unknown attacks/zero-days</td>
		</tr>
	</table>
	<p class="table-text">Tabel 1 Threat actoren met motivatie</p>
	<br>
	<h3><b>Misuse case diagram</b></h3>
	<p>Nu we weten met wat voor soort actoren te maken kunnen hebben, is het mogelijk om een misuse case diagram te maken voor mijn applicatie.</p>
	<img src="../../../../../assets/felix/misuse-diagram.jpg">
	<p class="image-text">Afbeelding 1 Misuse case diagram</p>
	<br>
	<br>
	<br>
</div>