<p class="center-text"><b>Welkom bij mijn cyber security minor portfolio!</b></p>
<div class="middle-text-space">
    <p>Mijn naam is Bart Janssen en ik heb dit portfolio geschreven voor mijn cyber security minor op de Fontys hogeschool te Eindhoven. De website waarop
        mijn portfolio te zien is, is ook door mij zelf gemaakt en wordt gehost op de Hera server van Fontys.
    </p>
    <br>
    <p>Op deze website is mijn leerplan voor dit semester, het R&D project, het uitvoeren van mijn spcialisatie projecten, evaluatie en reflectie te lezen. Omdat het 
        portfolio gedurende het semester steeds wordt aangevuld en geüpdatet, kan het zijn dat er nog enkele paginas leeg zijn. Deze worden in een later staduim van het
        semester ingevuld.</p>
</div>



<button *ngIf="false" (click)="click()">Test</button>