<p class="center-text"><b>Welkom bij mijn cyber security minor portfolio!</b></p>
<div class="middle-text-space">
    <p>Mijn naam is Bart Janssen en ik heb dit portfolio geschreven voor mijn cyber security minor op de Fontys hogeschool te Eindhoven. De website waarop
        mijn portfolio te zien is, is ook door mij zelf gemaakt en wordt gehost op de Hera server van Fontys.</p>
    <br>
    <p>Op deze website is mijn leerplan voor dit semester, het R&D project, het uitvoeren van mijn specialisatie projecten, evaluatie, reflectie, 
        feedback en persoonlijke ontwikkeling te lezen. Omdat het portfolio gedurende het semester steeds wordt aangevuld en geüpdatet, staat hieronder een lijst met de 
        nieuw toegevoegde onderdelen. Deze lijst is gemaakt na de tussentijdse oplevering van halvewege het semester en zal constant aangevuld worden.</p>

    <br>
    <p>Nieuw toegevoegde onderdelen:</p>
    <ul>
        <li class="text">03-12-2020: R&D Project - sprint 2 oplevering en start sprint 3 <a routerLink="/rdproject" routerLinkActive="active">R&D Project</a></li>
        <li class="text">04-12-2020: Projecten -> Felix -> <a routerLink="/licensing" routerLinkActive="active">Licensing</a></li>
        <li class="text">05-12-2020: Projecten -> Compiling <a routerLink="/compiling_project" routerLinkActive="active">Compileren</a></li>
        <li class="text">10-12-2020: <a routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
        <li class="text">11-12-2020: Felix demo <a target="_self" href="../../../assets/Felix-demo.mp4" download="Felix demo.mp4">(download)</a></li>
        <li class="text">23-12-2020: <a routerLink="/asm_project" routerLinkActive="active">Assembly</a></li>
        <li class="text">08-01-2021: Handmatig AES/AES onderzoek <a target="_self" href="../../../assets/AES onderzoek.pdf" download="AES onderzoek.pdf">(download)</a></li>
    </ul>
    <p>Aangepaste onderdelen:</p>
    <ul>
        <li class="text">10-12-2020: Projecten -> <a routerLink="/onderzoeksplan_project" routerLinkActive="active">Onderzoeksplan</a></li>
        <li class="text">10-12-2020: Projecten -> Felix -> <a routerLink="/concept" routerLinkActive="active">Concept</a></li>
        <li class="text">17-12-2020: Projecten -> Felix -> <a routerLink="/red_team_vs_blue_team_event" routerLinkActive="active">Red vs blue 2<sup>e</sup> event</a> resultaten</li>
        <li class="text">28-12-2020: Rapport <a target="_self" href="../../../assets/Rapport.pdf" download="Felix Rapport.pdf">(download)</a></li>
        <li class="text">10-01-2021: <a routerLink="/rdproject" routerLinkActive="active">R&D Project</a></li>
        <li class="text">10-01-2021: <a routerLink="/po" routerLinkActive="active">Persoonlijke ontwikkeling</a></li>
        <li class="text">10-01-2021: <a routerLink="/reflection" routerLinkActive="active">Reflectie</a></li>
    </ul>
    <br>
    <br>
    <br>
</div>


<button *ngIf="false" (click)="click()">Test</button>