<p class="center-text"><b>Welkom bij mijn cyber security minor portfolio!</b></p>
<div class="middle-text-space">
    <p>Mijn naam is Bart Janssen en ik heb dit portfolio geschreven voor mijn cyber security minor op de Fontys hogeschool te Eindhoven. De website waarop
        mijn portfolio te zien is, is ook door mij zelf gemaakt en wordt gehost op de Hera server van Fontys.
    </p>
    <br>
    <p>Op deze website is mijn leerplan voor dit semester, het R&D project, het uitvoeren van mijn specialisatie projecten, evaluatie en reflectie te lezen. Omdat het 
        portfolio gedurende het semester steeds wordt aangevuld en geüpdatet, staat hieronder een lijst met de nieuw toegevoegde onderdelen. Deze lijst is gemaakt na 
        de tussentijdse oplevering van halvewege het semester en zal constant aangevuld worden.</p>

    <br>
    <p>Nieuw toegevoegde onderdelen:</p>
    <ul>
        <li class="text">09-11-2020: <a routerLink="/quantum_networking" routerLinkActive="active">Quantum networking</a></li>
        <li class="text">13-11-2020: <a routerLink="/reverse_engineering_workshop" routerLinkActive="active">Reverse engineering workshop</a></li>
        <li class="text">16-11-2020: <a routerLink="/security_testing" routerLinkActive="active">Security testing</a></li>
    </ul>
</div>



<button *ngIf="false" (click)="click()">Test</button>