<p class="center-text">Onderzoeksplan</p>
<div class="middle-text-space">
  <p>Omdat we ook een onderzoeksplan moeten kunnen maken, heb ik in deze pagina een plan gemaakt hoe ik een onderzoek zou gaan uitvoeren. In dit onderzoek zitten ook 
    voorbeeld hoofd- en deelvragen. Het onderwerp van dit voorbeeld is alleen relevant voor voor de hoofd- en deelvragen, maar mag niet hetzelfde onderwerp zijn 
    als waar ons <a routerLink="/rdproject" routerLinkActive="active">R&D project</a> over gaat, een voorbeeld voor een onderzoeksplan voor dat onderwerp is 
    <a routerLink="/research_approach_project" routerLinkActive="active">hier</a> te lezen.</p>

  <h3>Voorbereiding</h3>
  <p>Voor het maken van een onderzoeksplan moet er eerst goed gecommuniceerd worden met de stakeholders, klant en projectleider over hoe het project eruit moet 
    komen zien en welke aspecten allemaal ter sprake komen. Dit gesprek is een goede start om de meest benodigde informatie te kunnen verkrijgen voor het maken 
    van het onderzoeksplan.</p>

  <h3>Het onderzoeksplan</h3>
  <p>Een onderzoeksplan moet minstens de volgende hoofdstukken bevatten;</p>
  <ul>
    <li class="text">Inleiding;</li>
    <li class="text">Inhoudsopgave;</li>
    <li class="text">Probleemstelling;</li>
    <li class="text">Doelstelling;</li>
    <li class="text">Onderzoeksmethoden;</li>
    <li class="text">Hoofd- en deelvragen;</li>
    <li class="text">Het onderzoek;</li>
    <li class="text">Conclusie;</li>
    <li class="text">Aanbeveling;</li>
    <li class="text">Planning;</li>
    <li class="text">Literatuurlijst;</li>
    <li class="text">Afkortingen en woordenlijst;</li>
    <li class="text">Bijlagen.</li>
  </ul>

  <br>
  <h3>Inleiding</h3>
  <p>In de inleiding kan verteld worden wat het project inhoudt en wie en wat ermee te maken heeft. Dit is zodat de lezer al in het begin een idee heeft van waar 
    het onderzoek over gaat. Hierin wordt niets technisch verteld maar puur de informatie zodat de gebruiker weet wat hij/zij kan verwachten van het project.</p>

  <h3>Inhoudsopgave</h3>
  <p>In de inhoudsopgave staan alle onderwerpen besproken in het onderzoek. Hier kan de lezer gemakkelijk navigeren door het onderzoek.</p>

  <br>
  <h3>1 Probleemstelling</h3>
  <p>In de probleemstelling wordt de context van het probleem beschreven. Tevens wordt hier ook beschreven waar het onderzoek precies over gaat en hoe relevant het 
    onderzoek is. In de probleemstelling stuur je de lezer richting het doel van het onderzoek. Een voorbeeld van de toren van Pisa:</p>
  <p><i>De toren van Pisa kennen veel mensen en het is bekend dat deze schuin staat. De reden dat de toren schuin staat is een verzakking geweest over de jaren heen. 
    Ieder jaar zakt deze toren weer een stukje schuiner. Er zijn al verschillende maatregelen getroffen zodat de bezoekers nog veilig de toren kunnen bezoeken. 
    De beheerders van de toren willen weten of de veiligheid voor de bezoekers vereterd kan worden.</i></p>

  <br>
  <h3>2 Doelstelling</h3>
  <p>In de doelstelling wordt er meer context gegeven. Zo wordt er verteld wat de oorzaken en gevolgen voor de probleemstelling zijn. Hoe het probleem in verband 
    kan staan met andere aspecten. Ook worden hier mogelijkheden verteld waarmee het probleem mogelijk voorkomen kan worden. Het uiteindelijke doel van het project 
    wordt hier non technisch uitgebreid uitgelegd.</p>

  <br>
  <h3>3 Onderzoeksmethoden</h3>
  <p>Er bestaan veel soorten onderzoeksmethoden en de benodigde onderzoeksmethoden kunnen ook verschillen op basis van de hoofdvraag. Om dit te bepalen kan het 
    <a href="http://ictresearchmethods.nl/The_DOT_Framework">DOT-framework</a> handig zijn. Deze wordt verder in detail besproken op 
    <a routerLink="/research_approach_project" routerLinkActive="active">deze</a> pagina. Voor het onderzoeken van de deelvragen zijn er één of meerdere methodes 
    nodig.</p>

  <br>
  <h3>4 Hoofd- en deelvragen</h3>
  <p><b>4.1 Hoofdvraag</b></p>
  <p>Een hoofdvraag bestaat vaak uit meer dan één deel, maar het moet wel één vraag zijn. De hoofdvraag mag ook niet met 'ja' of 'nee' te beantwoorden 
    zijn. Mocht dit wel zijn dan is het geen goed onderzoek want dan zijn er maar twee conclusies mogelijk 'ja' en 'nee'. Een goed onderzoek kan meerdere 
    conclusies bevatten waarmee de hoofdvraag dus goed beantwoord kan worden. Een hoofdvraag mag ook geen mening of ethische vraag zijn want dan kunnen er 
    meerdere conclusies zijn waar verschillende mensen het wel of niet mee eens kunnen zijn.</p>
  <br>
  <p><b>4.2 Voorbeeldvragen</b></p>
  <h3 class="no-bottom-margin">Is de toren van Pisa veilig voor de bezoekers?</h3>
  <p>Dit is geen goede hoofdvraag, deze vraag is met 'ja' of 'nee' te beantwoorden en deze vraag is ook te globaal. Wat is 'veilig' hier kunnen mensen met 
    verschillende meningen naar kijken.</p>

  <br>
  <h3 class="no-bottom-margin">Hoe kan onderzocht worden of de toren van Pisa veilig genoeg is voor bezoekers?</h3>
  <p>Dit is ook geen goede hoofdvraag, deze vraag is erg breed en kan op veel verschillende manieren opgelost worden. Deze vraag zou dan beter gespecificeerd 
    moeten worden.</p>

  <br>
  <h3 class="no-bottom-margin">Hoe kan de veiligheid van de toren van Pisa in kaart gebracht worden en hoe kan deze gegarandeerd worden?</h3>
  <p>Dit is ook geen goede hoofdvraag omdat deze vraag bestaat uit twee vragen. Een hoofdvraag moet bestaan uit één vraag.</p>

  <br>
  <h3 class="no-bottom-margin">Hoe kan de veiligheid van de bezoekers op de toren van Pisa gegarandeerd worden?</h3>
  <p>Dit is een goede hoofdvraag want de vraag bestaat uit één vraag en dit gaat ook specifiek over de bezoekers <b>op</b> de toren en hoe hun veiligheid gegarandeerd 
    kan worden. Hier kan dus verder onderzoek naar gedaan worden.</p>
    
  <br>
  <p><b>4.3 Deelvragen</b></p>
  <p>Om de hoofdvraag te kunnen beantwoorden worden er deelvragen geformuleerd. Deze deelvragen worden verder uitgewerkt en beantwoord. Als deze allemaal onderzocht 
    zijn dan zou hiervan een conclusie gemaakt kunnen worden die de hoofdvraag kan beantwoorden. De deelvragen zijn meestal minder complex als de hoofdvraag en 
    ook deze vragen bestaan uit één vraag per stuk. De hoofdvragen zijn alleen goed als ze echt daadwerkelijk nodig zijn om de hoofdvraag te kunnen beantwoorden. 
    Er is geen vast aantal voor de vragen, maar meestal zijn dit er rond de 4 of 5.</p>
  <br>
  <p><b>4.4 Voorbeeld deelvragen</b></p>

  <h3 class="no-bottom-margin">Wat voor maatregelen zijn er momenteel genomen?</h3>
  <p>Bij deze deelvraag kan onderzocht worden hoe het er momenteel voor staat. Dit kan essentioneel zijn om te bepalen wat er extra nodig is om de veiligheid te kunnen 
    garanderen.</p>

  <p class="no-bottom-margin">Onderzoekmethodes:</p>
  <ul>
    <li class="text">Met de Library strategie kan deze deelvraag onderzocht worden om erachter te komen of er momenteel al maatregelen zijn genomen en wat deze precies 
      inhouden. De methode hierbij is het opzoeken op het internet meer informatie te vinden over wat kan helpen voor extra informatie of ideëen als resultaat een 
      beeld krijgen van de huidige maatregelen.</li>
    <li class="text">Met de Field strategie kan via een methode zoals email of telefonisch concact gezocht worden met de mensen die hier verrantwoordelijk voor zijn om 
      zo meer context te kunnen krijgen over de huidige maatregelen, mogelijk kan hier ook informatie verkregen worden over maatregelen die ooit in het verleden 
      getroffen waren.</li>
  </ul>

  <p class="no-bottom-margin">Tijdschatting:</p>
  <ul>
    <li class="text">Mijn tijdschatting voor deze deelvraag zou ongeveer een tot twee weken zijn.</li>
  </ul>

  <br>
  <h3 class="no-bottom-margin">Wat zijn de gevaren voor de bezoekers?</h3>
  <p>Bij deze vraag wordt er in kaart gebracht voor welke aspecten er extra veiligheid nodig is.</p>

  <p class="no-bottom-margin">Onderzoekmethodes:</p>
  <ul>
    <li class="text">Met de Library strategie kan via de internet methode informatie gezocht worden over wat de mogelijke gevaren zijn en wat voor soortgeleike gevallen 
      er zijn. Hierbij verwacht ik gevaren die kunnen optreden in kaart te krijgen.</li>
    <li class="text">Met de Field strategie kan door middel van email of telefonische methode contact gezocht worden met de verrantwoordelijke van deze attractie om te 
      vragen of hun al het een en ander hiervan kunnen vertellen. Hiermee verwacht ik een goed overzicht krijgen van wat de gevaren van de bezoekers zijn.</li>
  </ul>

  <p class="no-bottom-margin">Tijdschatting:</p>
  <ul>
    <li class="text">Mijn tijdschatting voor deze deelvraag zou ongeveer een week zijn.</li>
  </ul>

  <br>
  <h3 class="no-bottom-margin">Wat voor extra veiligheidsmaatregelen zijn er nodig?</h3>
  <p>Deze vraag onderzoekt welke veiligheidsmaatregelen extra nodig zijn op basis van de gevaren waar ze mee te maken hebben.</p>

  <p class="no-bottom-margin">Onderzoekmethodes:</p>
  <ul>
    <li class="text">Met de Library strategie kunnen met de internet methode gelijke gevallen onderzocht worden en verwacht ik hier informatie te vinden over extra 
      maatregelen die toegepast kunnen worden.</li>
    <li class="text">Met de Workshop strategie kan in deze deelvraag een prototype of idee gemaakt worden om de maatregelen toe te passen. De methode hierbij kan 
      dan bijvoorbeeld een concept of een werkelijk (miniatuur) prototype zijn. Hiermee verwacht ik een prototype te kunnen laten zien aan de verrantwoordelijke. Dit zou 
      dan weer met de Showroom strategie kunnen.</li>
    <li class="text">Met de Field strategie kan door middel van een email of telefonische methode contact gezocht worden met overeenkomende gelijke bedrijven die vaker 
      met did soort gevallen te maken hebben, hierbij te denken aan plaatsen waar ze bijvoorbeeld te maken hebben met het stutten van gebouwen of dergelijke. Met deze 
      informatie kunnen ideëen opgedaan worden voor extra veiligheidsmaatregelen.</li>
  </ul>
  
  <p class="no-bottom-margin">Tijdschatting:</p>
  <ul>
    <li class="text">Mijn tijdschatting voor deze deelvraag zou ongeveer een tot twee weken zijn.</li>
  </ul>

  <br>
  <h3 class="no-bottom-margin">Wat voor impact hebben de extra veiligheidsmaatregelen op de bezoekers van de attractie?</h3>
  <p>Deze vraag brengt de impact in kaart. Dit is belangrijk voor als de veiligheidsmaatregelen worden toegepast.</p>

  <p class="no-bottom-margin">Onderzoekmethodes:</p>
  <ul>
    <li class="text">Met de Lab strategie kunnen de eerder onderzochte/toegepaste prototypes of ideëen onderzocht worden. Met deze methode verwacht ik het gedrag van de 
      bezoekers op de nieuwe maatregelen in kaart te krijgen.</li>
    <li class="text">Met de Field strategie kunnen door middel van de methode om enquêtes te gebruiken, enquêtes voor de bezoekers gemaakt worden om zo ook een beeld 
      te krijgen vanuit het perspectief van de bezoekers zelf en hoe hun denken over de extra maatregelen. Hiermee verwacht ik een goed beeld te krijgen van de bezoekers 
      zelf.</li>
  </ul>
  
  <p class="no-bottom-margin">Tijdschatting:</p>
  <ul>
    <li class="text">Mijn tijdschatting voor deze deelvraag zou ongeveer twee tot vier weken tellen omdat dit best wat tijd kan kosten doordat bezoekers hierop ander gedrag 
      kunnen vertonen en omdat bezoekers misschien niet allemaal even snel de enquêtes ingevuld hebben.</li>
  </ul>

  <br>
  <br>
  <p>Hoofd- en deelvragen voor een passender onderwerp binnen mijn minor bijvoorbeeld; <i>het onderzoeken hoe het AES-algoritme handmatig toegepast kan worden</i>, 
    zouden bijvoorbeeld kunnen zijn:</p>
  <p class="no-bottom-margin">Hoofdvraag:</p>
  <h3 class="no-top-margin">Welke manieren zijn geschikt om het AES-algoritme handmatig te kunnen toepassen?</h3>
  <p class="no-bottom-margin">Deelvragen:</p>
  <ul>
    <li class="text">Hoe werkt het AES-algoritme?</li>
    <ul>
      <li class="text">Onderzoekmethodes:</li>
      <ul>
        <li class="text">Met de Library strategie kan er onderzocht worden hoe het werkt. De methodes kunnen filmpjes ervan kijken of informatie op het internet zoeken 
          zijn.</li>
      </ul>
      <li class="text">Tijdschatting:</li>
      <ul>
        <li class="text">Mijn tijdschatting voor deze deelvraag zou op ongeveer een dag komen.</li>
      </ul>
    </ul>
    <br>
    <li class="text">Welke voorbeelden voor het handmatig toepassen bestaan er al?</li>
    <ul>
      <li class="text">Onderzoekmethodes:</li>
      <ul>
        <li class="text">Met de Library strategie kan er onderzocht worden welke voorbeelden er al bestaan. De methodes hiervoor zullen voornamelijk het opzoeken op 
          internet zijn om bestaande voorbeelden te kunnen onderzoeken en deze te begrijpen.</li>
      </ul>
      <li class="text">Tijdschatting:</li>
      <ul>
        <li class="text">Mijn tijdschatting voor deze deelvraag zou een tot twee dagen zijn.</li>
      </ul>
    </ul>
    <br>
    <li class="text">Wat voor methodes kunnen gebruikt worden om het toe te passen?</li>
    <ul>
      <li class="text">Onderzoekmethodes:</li>
      <ul>
        <li class="text">Met de Workshop strategie kunnen prototypes gemaakt worden om te onderzoeken welke methode het meest geschikt zijn. De methodes zullen 
          afgangen van de voorbeelden.</li>
      </ul>
      <li class="text">Tijdschatting:</li>
      <ul>
        <li class="text">Mijn tijdschatting voor deze deelvraag gaat naar een week.</li>
      </ul>
    </ul>
  </ul>

  <br>
  <h3>5 Het onderzoek</h3>
  <p>In dit hoofdstuk wordt het onderzoek zelf uitgevoerd. Hier worden de deelvragen beantwoord en per deelvraag komt hier een kleine inleiding en uiteindelijke 
    conclusie. Als een deelvraag onderzoek te groot wordt, dan kan deze in een bijlage toegevoegd worden met hier een samenvatting van het onderzoek met een 
    referentie naar de desbetreffende bijlage.</p>

  <br>
  <h3>6 Conclusie</h3>
  <p>Na het onderzoeken kan een conclusie getrokken worden. Deze conclusie is op basis van de uitkomsten van de onderzochte deelvragen. In dit deel wordt ook de 
    hoofdvraag beantwoord. Als het goed is hebben de deelvragen voldoende antwoord gegeven zodat de hoofdvraag een duidelijk antwoord heeft.</p>

  <br>
  <h3>7 Aanbeveling</h3>
  <p>Indien nodig wordt er in dit hoofdstuk een aanbeveling gegeven voor de klant/opdrachtgever. Als er bijvoorbeeld geen klant in beeld is, dan is dit hoofdstuk niet 
    nodig. De klant is mogelijk niet heel geïnteresseerd in de onderzoeken zelf, maar vooral naar een oplossing. Dit kan hier voor de klant beschreven worden. De 
    uitkomst van de deelvragen kunnen hier een heel goede aanbeveling schetsen.</p>

  <br>
  <h3>8 Planning</h3>
  <p>Om dit onderzoek te kunnen uitvoeren moet er ook een planning gemaakt worden, deze kan hier beschreven worden. Deze planning wordt wel van te voren gemaakt, 
    maar wordt onderaan het onderzoek toegevoegd. Het onderzoek over de beschreven toren van Pisa zou maximaal ongeveer negen tot tien weken kosten naar mijn 
    tijdschatting. Hieronder een tabel om dit nog duidelijk te visualiseren.</p>
  <table>
    <tr>
      <th>Deelvraag</th>
      <th>Tijdschatting in weken</th> 
    </tr>
    <tr>
      <td>Wat voor maatregelen zijn er momenteel genomen?</td>
      <td>1-2</td>
    </tr>
    <tr>
      <td>Wat zijn de gevaren voor de bezoekers?</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Wat voor extra veiligheidsmaatregelen zijn er nodig?</td>
      <td>1-2</td>
    </tr>
    <tr>
      <td>Wat voor impact hebben de extra veiligheidsmaatregelen op de bezoekers van de attractie?</td>
      <td>2-4</td>
    </tr>
  </table>

  <br>
  <h3>Literatuurlijst</h3>
  <p>In de literatuurlijst staan eventueel gebruikte bronnen waarnaar verwezen kan worden in de texten. Deze bronnen dienen in apa stijl beschreven te worden.</p>

  <br>
  <h3>Afkortingen en woordenlijst</h3>
  <p>Mochten er afkortingen of termen gebruikt worden waarvan niet zeker is dat de lezer deze begrijpt, dan kunnen deze hier beschreven worden met een korte uitleg 
    waar de afkorting voor staat.</p>

  <br>
  <h3>Bijlage</h3>
  <p>Als er behoefte is aan een bijlage dan kunnen deze aan het eind van het document geplaast worden. Dit kan op twee manieren. De eerste manier is het hele content van 
    de bijlage bijgevoegd, de andere optie is om een referentie te maken naar een externe bijlage en deze dan ook bijleveren. Dit is een keuze die gemaakt kan worden. 
    Mijn persoonlijke voorkeur gaat uit naar een referentie omdat het onderzoek anders enorm groot wordt en de structuur van de bijlagen zelf anders kan zijn per 
    bijlage.</p>
  <br>
  <br>
  <br>
</div>