<p class="center-text">Onderzoeksplan</p>
<div class="middle-text-space">
  <p>Omdat we ook een onderzoeksplan moeten kunnen maken, heb ik in deze pagina een plan gemaakt hoe ik een onderzoek zou gaan uitvoeren. In dit onderzoek zitten ook 
    voorbeeld hoofd- en deelvragen. Het onderwerp van dit voorbeeld is alleen relevant voor voor de hoofd- en deelvragen, maar mag niet hetzelfde onderwerp zijn 
    als waar ons <a routerLink="/rdproject" routerLinkActive="active">R&D project</a> over gaat, een voorbeeld voor een onderzoeksplan voor dat onderwerp is 
    <a routerLink="/research_approach_project" routerLinkActive="active">hier</a> te lezen.</p>

  <h3>Voorbereiding</h3>
  <p>Voor het maken van een onderzoeksplan moet er eerst goed gecommuniceerd worden met de stakeholders, klant en projectleider over hoe het project eruit moet 
    komen zien en welke aspecten allemaal ter sprake komen. Dit gesprek is een goede start om de meest benodigde informatie te kunnen verkrijgen voor het maken 
    van het onderzoeksplan.</p>

  <h3>Het onderzoeksplan</h3>
  <p>Een onderzoeksplan moet minstens de volgende hoofdstukken bevatten;</p>
  <ul>
    <li class="text">Inleiding;</li>
    <li class="text">Probleemstelling;</li>
    <li class="text">Doelstelling;</li>
    <li class="text">Hoofd- en deelvragen;</li>
    <li class="text">Onderzoeksmethoden;</li>
    <li class="text">Conclusie;</li>
    <li class="text">Aanbeveling;</li>
    <li class="text">Planning.</li>
  </ul>

  <br>
  <h3>Inleiding</h3>
  <p>In de inleiding kan verteld worden wat het project inhoudt en wie en wat ermee te maken heeft. Dit is zodat de lezer al in het begin een idee heeft van waar 
    het onderzoek over gaat. Hierin wordt niets technisch verteld maar puur de informatie zodat de gebruiker weet wat hij/zij kan verwachten van het project.</p>

  <br>
  <h3>1 Probleemstelling</h3>
  <p>In de probleemstelling wordt de context van het probleem beschreven. Tevens wordt hier ook beschreven waar het onderzoek precies over gaat en hoe relevant het 
    onderzoek is. In de probleemstelling stuur je de lezer richting het doel van het onderzoek. Een voorbeeld van de toren van Pisa:</p>
  <p><i>De toren van Pisa kennen veel mensen en het is bekend dat deze schuin staat. De reden dat de toren schuin staat is een verzakking geweest over de jaren heen. 
    Ieder jaar zakt deze toren weer een stukje schuiner. Er zijn al verschillende maatregelen getroffen zodat de bezoekers nog veilig de toren kunnen bezoeken. 
    De beheerders van de toren willen weten of de veiligheid voor de bezoekers vereterd kan worden.</i></p>

  <br>
  <h3>2 Doelstelling</h3>
  <p>In de doelstelling wordt er meer context gegeven. Zo wordt er verteld wat de oorzaken en gevolgen voor de probleemstelling zijn. Hoe het probleem in verband 
    kan staan met andere aspecten. Ook worden hier mogelijkheden verteld waarmee het probleem mogelijk voorkomen kan worden. Het uiteindelijke doel van het project 
    wordt hier non technisch uitgebreid uitgelegd.</p>

  <br>
  <h3>3 Onderzoeksmethoden</h3>
  <p>Er bestaan veel soorten onderzoeksmethoden en de benodigde onderzoeksmethoden kunnen ook verschillen op basis van de hoofdvraag. Om dit te bepalen kan het 
    <a href="http://ictresearchmethods.nl/The_DOT_Framework">DOT-framework</a> handig zijn. Deze wordt verder in detail besproken op 
    <a routerLink="/research_approach_project" routerLinkActive="active">deze</a> pagina. Voor het onderzoeken van de deelvragen zijn er één of meerdere methodes 
    nodig.</p>

  <br>
  <h3>4 Hoofd- en deelvragen</h3>
  <p><b>4.1 Hoofdvraag</b></p>
  <p>Een hoofdvraag bestaat vaak uit meer dan één deel, maar het moet wel één vraag zijn. De hoofdvraag mag ook niet met 'ja' of 'nee' te beantwoorden 
    zijn. Mocht dit wel zijn dan is het geen goed onderzoek want dan zijn er maar twee conclusies mogelijk 'ja' en 'nee'. Een goed onderzoek kan meerdere 
    conclusies bevatten waarmee de hoofdvraag dus goed beantwoord kan worden. Een hoofdvraag mag ook geen mening of ethische vraag zijn want dan kunnen er 
    meerdere conclusies zijn waar verschillende mensen het wel of niet mee eens kunnen zijn.</p>
  <br>
  <p><b>4.2 Voorbeeldvragen</b></p>
  <h3 class="no-bottom-margin">Is de toren van Pisa veilig voor de bezoekers?</h3>
  <p>Dit is geen goede hoofdvraag, deze vraag is met 'ja' of 'nee' te beantwoorden en deze vraag is ook te globaal. Wat is 'veilig' hier kunnen mensen met 
    verschillende meningen naar kijken.</p>

  <br>
  <h3 class="no-bottom-margin">Hoe kan onderzocht worden of de toren van Pisa veilig genoeg is voor bezoekers?</h3>
  <p>Dit is ook geen goede hoofdvraag, deze vraag is erg breed en kan op veel verschillende manieren opgelost worden. Deze vraag zou dan beter gespecificeerd 
    moeten worden.</p>

  <br>
  <h3 class="no-bottom-margin">Hoe kan de veiligheid van de toren van Pisa in kaart gebracht worden en hoe kan deze verbeterd worden?</h3>
  <p>Dit is ook geen goede hoofdvraag omdat deze vraag bestaat uit twee vragen. Een hoofdvraag moet bestaan uit één vraag.</p>

  <br>
  <h3 class="no-bottom-margin">Hoe kan de veiligheid van de bezoekers op de toren van Pisa verbeterd worden?</h3>
  <p>Dit is een goede hoofdvraag want de vraag bestaat uit één vraag en dit gaat ook specifiek over de bezoekers <b>op</b> de toren en hoe hun veiligheid verbeterd 
    kan worden. Hier kan dus verder onderzoek naar gedaan worden.</p>
    
  <br>
  <p><b>4.3 Deelvragen</b></p>
  <p>Om de hoofdvraag te kunnen beantwoorden worden er deelvragen geformuleerd. Deze deelvragen worden verder uitgewerkt en beantwoord. Als deze allemaal onderzocht 
    zijn dan zou hiervan een conclusie gemaakt kunnen worden die de hoofdvraag kan beantwoorden. De deelvragen zijn meestal minder complex als de hoofdvraag en 
    ook deze vragen bestaan uit één vraag per stuk. De hoofdvragen zijn alleen goed als ze echt daadwerkelijk nodig zijn om de hoofdvraag te kunnen beantwoorden. 
    Er is geen vast aantal voor de vragen, maar meestal zijn dit er rond de 4 of 5.</p>
  <br>
  <p><b>4.4 Voorbeeld deelvragen</b></p>

  <h3 class="no-bottom-margin">Wat voor maatregelen zijn er momenteel genomen?</h3>
  <p>Bij deze deelvraag kan onderzocht worden hoe het er momenteel voor staat. Dit kan essentioneel zijn om te bepalen wat er extra nodig is om de veiligheid te kunnen 
    verbeteren. Om deze deelvraag te beantwoorden moet hier de Library methode gebruikt worden. De Library methode wordt gebruikt om erachter te komen of er al 
    maatregelen zijn genomen en wat deze precies inhouden. Het onderzoeken van deze deelvraag kan best wat tijd kosten. Mogelijk zou er op internet het een en ander 
    gevonden kunnen worden dit zou niet meer tijd moeten kosten dan een halve week. Ik zou ook de Field methode hierbij te betrekken om contact te zoeken met de mensen 
    die hier verrantwoordelijk voor zijn om zo meer context te kunnen krijgen over de huidige maatregelen. Mijn tijdschatting voor deze deelvraag zou ongeveer een tot 
    twee weken zijn.</p>

  <br>
  <h3 class="no-bottom-margin">Wat zijn de gevaren voor de bezoekers?</h3>
  <p>Bij deze vraag wordt er in kaart gebracht voor welke aspecten er extra veiligheid nodig is. Om deze deelvraag te kunnen beantwoorden kan de Library methode gebruikt 
    worden om om internet te zoeken wat voor gevaren er zouden kunnen zijn. Met de Field methode kan contact gemaakt worden met de verrantwoordelijke om te vragen of hun 
    al het een en ander hiervan kunnen vertellen. Hiermee verwacht ik een goed overzicht krijgen van wat de gevaren van de bezoekers zijn. Dit zou naar mijn 
    tijdschatting een week kosten.</p>

  <br>
  <h3 class="no-bottom-margin">Wat voor extra veiligheidsmaatregelen zijn er nodig?</h3>
  <p>Deze vraag onderzoekt welke veiligheidsmaatregelen extra nodig zijn op basis van de gevaren waar ze mee te maken hebben. Met de Library methodes kunnen gelijke 
    gevallen onderzocht worden en kan hier informatie gevonden worden over extra maatregelen. Met de Workshop methode kan in deze deelvraag een prototype of idee gemaakt  
    worden om de maatregelen toe te passen. Deze deelvraag zou naar mijn tijdschatting ongeveer een tot twee weken kosten.</p>

  <br>
  <h3 class="no-bottom-margin">Wat voor impact hebben de extra veiligheidsmaatregelen op de bezoekers van de attractie?</h3>
  <p>Deze vraag brengt de impact in kaart. Dit is belangrijk voor als de veiligheidsmaatregelen worden toegepast. In deze deelvraag kunnen de eerder onderzochte 
    prototypes of ideëen onderzocht worden via de Lab methode. Met deze methode kan het gedrag van de bezoekers onderzocht worden op de nieuwe maatregelen. Met de Field 
    methode kunnen enquêtes voor de bezoekers een goed antwoord geven. Dit kan best wat tijd kosten omdat bezoekers hierop ander gedrag kunnen vertonen. Mijn 
    tijdschatting zou op ongeveer twee tot vier weken tellen.</p>

  <br>
  <h3>5 Conclusie</h3>
  <p>Na het onderzoeken kan een conclusie getrokken worden. Deze conclusie is op basis van de uitkomsten van de onderzochte deelvragen. In dit deel wordt ook de 
    hoofdvraag beantwoord. Als het goed is hebben de deelvragen voldoende antwoord gegeven zodat de hoofdvraag een duidelijk antwoord heeft.</p>

  <br>
  <h3>6 Aanbeveling</h3>
  <p>Indien nodig wordt er in dit hoofdstuk een aanbeveling gegeven voor de klant/opdrachtgever. De klant is mogelijk niet heel geïnteresseerd in de onderzoeken 
    zelf, maar vooral naar een oplossing. Dit kan hier voor de klant beschreven worden.</p>

  <br>
  <h3>7 Planning</h3>
  <p>Om dit onderzoek te kunnen uitvoeren moet er ook een planning gemaakt worden, deze kan hier beschreven worden. Deze planning wordt wel van te voren gemaakt, 
    maar wordt onderaan het onderzoek toegevoegd. Het onderzoek over de beschreven toren van Pisa zou ongeveer tien weken kosten naar mijn tijdschatting.</p>
  <br>
  <br>
  <br>
</div>