<p class="center-text">Onderzoeksplan</p>
<div class="middle-text-space">
  <p>Omdat we ook een onderzoeksplan moeten kunnen maken, heb ik in deze pagina een plan gemaakt hoe ik een onderzoek zou gaan uitvoeren. In dit onderzoek zitten ook 
    voorbeeld hoofd- en deelvragen. Het onderwerp van dit voorbeeld is alleen relevant voor voor de hoofd- en deelvragen, maar mag niet hetzelfde onderwerp zijn 
    als waar ons <a routerLink="/rdproject" routerLinkActive="active">R&D project</a> over gaat, een voorbeeld voor een onderzoeksplan voor dat onderwerp is 
    <a routerLink="/research_approach_project" routerLinkActive="active">hier</a> te lezen.</p>

  <h3>Voorbereiding</h3>
  <p>Voor het maken van een onderzoeksplan moet er eerst goed gecommuniceerd worden met de stakeholders, klant en projectleider over hoe het project eruit moet 
    komen zien en welke aspecten allemaal ter sprake komen. Dit gesprek is een goede start om de meest benodigde informatie te kunnen verkrijgen voor het maken 
    van het onderzoeksplan.</p>

  <h3>Het onderzoeksplan</h3>
  <p>Een onderzoeksplan moet minstens de volgende hoofdstukken bevatten:</p>
  <ul>
    <li class="text">Inleiding;</li>
    <li class="text">Probleemstelling;</li>
    <li class="text">Doelstelling;</li>
    <li class="text">Hoofd- en deelvragen;</li>
    <li class="text">Onderzoeksmethoden;</li>
    <li class="text">Conclusie;</li>
    <li class="text">Aanbeveling;</li>
    <li class="text">Planning.</li>
  </ul>

  <br>
  <h3>Inleiding</h3>
  <p>In de inleiding kan verteld worden wat het project inhoudt en wie en wat ermee te maken heeft. Dit is zodat de lezer al in het begin een idee heeft van waar 
    het project over gaat. Hierin wordt niets technisch verteld maar puur de informatie zodat de gebruiker weet wat hij/zij kan verwachten van het project.</p>

  <br>
  <h3>Probleemstelling</h3>
  <p>In de probleemstelling wordt de context van het probleem beschreven. Tevens wordt hier ook beschreven waar het onderzoek precies over gaat en hoe relevant het 
    onderzoek is. In de probleemstelling stuur je de lezer richting het doel van het onderzoek.</p>

  <br>
  <h3>Doelstelling</h3>
  <p>In de doelstelling wordt er meer context gegeven. Zo wordt er verteld wat de oorzaken en gevolgen voor de probleemstelling zijn. Hoe het probleem in verband 
    kan staan met andere aspecten. Ook worden hier mogelijkheden verteld waarmee het probleem mogelijk voorkomen kan worden. Het uiteindelijke doel van het project 
    wordt hier non technisch uitgebreid uitgelegd.</p>

  <br>
  <h3>Onderzoeksmethoden</h3>
  <p>Er bestaan veel soorten onderzoeksmethoden en de benodigde onderzoeksmethoden kunnen ook verschillen op basis van de hoofdvraag. Om dit te bepalen kan het 
    <a href="http://ictresearchmethods.nl/The_DOT_Framework">DOT-framework</a> handig zijn. Deze wordt verder in detail besproken op 
    <a routerLink="/research_approach_project" routerLinkActive="active">deze</a> pagina. Voor het onderzoeken van de deelvragen zijn er één of meerdere methodes 
    nodig.</p>

  <br>
  <h3>Hoofd- en deelvragen</h3>
  <p><b>Hoofdvraag</b></p>
  <p>Een hoofdvraag bestaat vaak uit meer dan één deel, maar het moet wel één vraag zijn. De hoofdvraag mag ook niet met 'ja' of 'nee' te beantwoorden 
    zijn. Mocht dit wel zijn dan is het geen goed onderzoek want dan zijn er maar twee conclusies mogelijk 'ja' en 'nee'. Een goed onderzoek kan meerdere 
    conclusies bevatten waarmee de hoofdvraag dus goed beantwoord kan worden. Een hoofdvraag mag ook geen mening of ethische vraag zijn want dan kunnen er 
    meerdere conclusies zijn waar verschillende mensen het wel of niet mee eens kunnen zijn.</p>
  <br>
  <p><b>Voorbeeldvragen</b></p>
  <p class="no-bottom-margin"><b>Is de toren van Pisa veilig voor de bezoekers?</b></p>
  <p>Dit is geen goede hoofdvraag, deze vraag is met 'ja' of 'nee' te beantwoorden en deze vraag is ook te globaal. Wat is 'veilig' hier kunnen mensen met 
    verschillende meningen naar kijken.</p>

  <br>
  <p class="no-bottom-margin"><b>Hoe kan onderzocht worden of de toren van Pisa veilig genoeg is voor bezoekers?</b></p>
  <p>Dit is ook geen goede hoofdvraag, deze vraag is erg breed en kan op veel verschillende manieren opgelost worden. Deze vraag zou dan beter gespecificeerd 
    moeten worden.</p>

  <br>
  <p class="no-bottom-margin"><b>Hoe kan de veiligheid van de toren van Pisa in kaart gebracht worden en hoe kan deze verbeterd worden?</b></p>
  <p>Dit is ook geen goede hoofdvraag omdat deze vraag bestaat uit twee vragen. Een hoofdvraag moet bestaan uit één vraag.</p>

  <br>
  <p class="no-bottom-margin"><b>Hoe kan de veiligheid van de bezoekers op de toren van Pisa verbeterd worden?</b></p>
  <p>Dit is een goede hoofdvraag want de vraag bestaat uit één vraag en dit gaat ook specifiek over de bezoekers <b>op</b> de toren en hoe hun veiligheid verbeterd 
    kan worden. Hier kan dus verder onderzoek naar gedaan worden.</p>
    
  <br>
  <p><b>Deelvragen</b></p>
  <p>Om de hoofdvraag te kunnen beantwoorden worden er deelvragen geformuleerd. Deze deelvragen worden verder uitgewerkt en beantwoord. Als deze allemaal onderzocht 
    zijn dan zou hiervan een conclusie gemaakt kunnen worden die de hoofdvraag kan beantwoorden. De deelvragen zijn meestal minder complex als de hoofdvraag en 
    ook deze vragen bestaan uit één vraag per stuk. De hoofdvragen zijn alleen goed als ze echt daadwerkelijk nodig zijn om de hoofdvraag te kunnen beantwoorden. 
    Er is geen vast aantal voor de vragen, maar meestal zijn dit er rond de 4 of 5.</p>
  <br>
  <p><b>Voorbeeld deelvragen</b></p>

  <p class="no-bottom-margin"><b>Wat voor maatregelen zijn er momenteel genomen?</b></p>
  <p>Bij deze deelvraag kan onderzocht worden hoe het er momenteel voor staat. Dit kan essentioneel zijn om te bepalen wat er extra nodig is om de veiligheid te kunnen 
    verbeteren.</p>

  <br>
  <p class="no-bottom-margin"><b>Wat zijn de gevaren voor de bezoekers?</b></p>
  <p>Bij deze vraag wordt er in kaart gebracht voor welke aspecten er extra veiligheid nodig is.</p>

  <br>
  <p class="no-bottom-margin"><b>Wat voor extra veiligheidsmaatregelen zijn er nodig?</b></p>
  <p>Deze vraag onderzoekt welke veiligheidsmaatregelen extra nodig zijn op basis van de gevaren waar ze mee te maken hebben.</p>

  <br>
  <p class="no-bottom-margin"><b>Wat voor impact hebben de extra veiligheidsmaatregelen op de attractie?</b></p>
  <p>Deze vraag brengt de impact in kaart. Dit is belangrijk voor als de veiligheidsmaatregelen worden toegepast.</p>

  <br>
  <h3>Conclusie</h3>
  <p>Na het onderzoeken kan een conclusie getrokken worden. Deze conclusie is op basis van de uitkomsten van de onderzochte deelvragen. In dit deel wordt ook de 
    hoofdvraag beantwoord.</p>

  <br>
  <h3>Aanbeveling</h3>
  <p>Indien nodig wordt er in dit hoofdstuk een aanbeveling gegeven voor de klant/opdrachtgever. De klant is mogelijk niet heel geïnteresseerd in de onderzoeken 
    zelf, maar vooral naar een oplossing. Dit kan hier voor de klant beschreven worden.
  </p>

  <br>
  <h3>Planning</h3>
  <p>Om dit onderzoek te kunnen uitvoeren moet er ook een planning gemaakt worden, deze kan hier beschreven worden. Deze planning wordt wel van te voren gemaakt, 
    maar wordt onderaan het onderzoek toegevoegd.</p>
  <br>
  <br>
  <br>
</div>