.navbutton
{
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: lightgrey;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #000;
}