<p class="center-text">Felix</p>
<div class="middle-text-space">
  <p>Op deze pagina zijn alle onderwerpen te vinden betreft mijn chat applicatie Felix.</p>
</div>
<div class="projects-space">
  <div class="project" (click)="navigate('concept')">
    <img src="../../../../assets/felix/concept.jpg">
  </div>
  <div class="project" (click)="navigate('implementation')">
    <img src="../../../../assets/felix/implementatie.png">
  </div>
  <div class="project" (click)="navigate('threat_analysis')">
    <img src="../../../../assets/felix/thread-analysis-felix.jpg">
  </div>
  <div class="project" (click)="navigate('risk_analysis')">
    <img src="../../../../assets/felix/risk-analysis-felix.jpg">
  </div>
  <div class="project" (click)="navigate('red_team_vs_blue_team_event')">
    <img src="../../../../assets/felix/blue-team-vs-red-team-event.jpg">
  </div>
</div>