<p class="center-text"><b>Feedback</b></p>
<div class="middle-text-space">
  <p>Op deze pagina is te zien wat voor feedback ik gekregen heb op welke momenten, waarover, wanneer en waarom. Ook is hier te zien wat ik per feedback punt heb 
    veranderd of aangepast.</p>
  
  <br>
  <br>
  <h3>R&D project</h3>
  <p>Hierin staat beschreven wat we voor feedback gekregen hebben binnen het groeps project.</p>
  
  <br>
  <p class="no-bottom-margin"><b>27 oktober 2020 Sprint 1 oplevering : Martin Ederveen</b></p>
  <img src="../../../../assets/feedback/sprint1oplevering.png">
  <p class="image">Afbeelding 1 Martin feedback sprint 1 oplevering</p>

  <p>Ik zag verschillende van deze punten terugkomen in onze oplevering. Na de sprintoplevering hebben we dit besproken en per punt gekeken hoe we dit in de tweede 
    sprint toe kunnen passen. We hebben deze punten ook in de tweede sprintoplevering toegepast.</p>

  <br>
  <br>
  <p><b>12 november 2020 Sprint 2 oplevering : Martin Ederveen (mondeling)</b></p>
  <p><i>Martin vond dat we een nette presentatie gehouden hadden en ook duidelijk lieten zien waar we stonden en wat we wel en niet gedaan hadden. Ook vond hij het 
    goed hoe we de demo hadden opgenomen en erbij vertelde wat er te zien was en hoe dat werkt.</i></p>

  <br>
  <br>
  <p><b>12 november 2020 Sprint 2 oplevering : John (mondeling)</b></p>
  <p>John is een extern deskundige die Teade meegenomen had om bij de oplevering te zijn. We hadden ervoor gekozen om niet verder te gaan met OPC UA, maar met 
    MQTT verder te gaan. John was het eens met onze redenen en waarom we deze keuze gemaakt hadden. Hij vertelde ook dat dit de juiste keuze was en hij diezelfde 
    keuze ook gemaakt zou hebben in ons geval.</p>

  <br>
  <br>
  <p><b>03 december 2020 Sprint 2 oplevering : Martin Ederveen individueel op Teams</b></p>
  <p class="no-bottom-margin">Later kreeg ik individueel tijdens een ander gesprek met Martin nog extra feedback over onze oplevering.</p>
  <img src="../../../../assets/feedback/sprint2oplevering.png">
  <p class="image">Afbeelding 2 Martin feedback sprint 2 oplevering individueel</p>

  <br>
  <br>
  <h3>Individueel</h3>
  <p>Hieronder staat de feedback die ik persoonlijk gekregen heb, en eventuele aanpassingen die ik daaraan heb gedaan of wil gaan doen.</p>

  <br>
  <p><b>09 november 2020 Feedback & feed forward session : Casper Schellekens</b></p>
  <p><i>"Bedankt voor de toelichting/presentatie, netjes en duidelijk. Hieronder de feedback op je voortgang en verantwoording:"</i></p>
  <p><i>"Personal development
    Je leerplan en je hele portfolio is duidelijk gestructureerd. En je geeft je leerdoelen echt vanuit jezelf."</i></p>
  <p><i>"Technical Skills
    Ik heb hier een paar keer naar gekeken, en dat zag er goed uit. Je geeft ook duidelijk aan hoe het er voor staat en wat er nog moet. Ga zo door. 
    Komt helemaal goed. Kijk ook even naar de advanced level als je een hogere beoordeling zoekt, dus aandacht voor een complete specialist, 
    diepgang en anderen (medestudenten, klant, docenten) kunnen helpen, informeren, assisteren."</i></p>

  <p><i>"Procedural Skills
    De analyses doe je redelijk duidelijk. Misschien wel ook nog ergens een professioneel rapport van opstellen (detailed design, testrapport, o.i.d.), 
    om het rapportage aspect ook op die manier verder te trainen. Nu zijn alle teksten alleen in portfolio vorm, terwijl je als security professional ook andere, 
    professionele rapportages moet kunnen opstellen."</i></p>

  <br>
  <br>
  <p><b>10 november 2020 Feedback & feed forward session : Martin Ederveen</b></p>
  <p><i>"Prima video.
    Ik denk dat je inderdaad halverwege bent. Graag nog een persoonlijk onderzoeksplan om aan te tonen dat je dat kunt.
    Wat communicatie betreft graag meer details (peer review had handig geweest) hoe je het persoonlijk aanpakt."</i></p>
  
  <p>Deze feedback ging over de video die ik toen ingeleverd had. In deze video ben ik niet ingegaan op de peer review, maar ik heb wel verwezen naar mijn portfolio 
    waar deze wel beschreven staat. Ook het onderzoeksplan staat hier.</p>

  <br>
  <br>
  <p><b>23 november 2020 Feedback & feed forward session : Casper Schellekens</b></p>
  <p><i>"vandaag besproken:"</i></p>
  <p><i>"security by design rapport, om schrijfskills meer te laten zien. Nog wat tips gegeven over meer uitleggen."</i></p>
  <p><i>"quatum computing. Net overzicht."</i></p>
  <p><i>"reverse engineering. Goed overzicht en praktische insteek. Msn idee om van die onderwerpen iets te delen in een presentatie met klasgenoten."</i></p>

  <br>
  <br>
  <p><b>7 december 2020 : Casper Schellekens (mondeling)</b></p>
  <p>Gesprek gehad met Casper via Teams over mijn voortgang en portfolio. Hieruit bleek dat ik technisch wel goed zat, qua rapportage kan ik me nog verbetereb voor 
    een hogere beoordeling.</p>
  <p>Ik wil gaan voor die hogere beoordeling en ik wil daarom ook extra tijd besteden om de laatste twee nog niet aangetoonde leerdoelen toe te passen, ook wil ik 
    naar het rapportage kijken en hier toch een beter beeld van te laten zien.</p>
  <p>Tijdens dit gesprek zou ik ook nog een demo laten zien van mijn applicatie, dit waren we beide vergeten. Ik had later nog een demo opgenomen en naar Casper 
    gestuurd zodat hij het alsnog kon zien, dit waardeerde hij.</p>

  <br>
  <br>
  <p><b>8 december 2020 : Martin Ederveen (mondeling)</b></p>
  <p>Op TQ heb ik een gesprek gehad met Martin om naar mijn onderzoeksplan te kijken. Hieruit bleek dat ik de goede kant op ga en ik kon nog wat kleine dingentjes 
    aanpassen. Dit ga ik zeker doen. Verder heb ik met Martin ook gesproken over Cum Laude afstuderen. Ik wil hier voor gaan en ik wil ook mijn best doen om dit te 
    behalen. Martin dacht dat als ik zo doorga dat ik dit semester mogelijk met een Outstanding kan afronden.</p>
  
  <p>Ik wil mijn onderzoeksplan ook nog toepassen op een onderzoek binnen mijn leerdoelen. Dit onderzoek zal gaan over hoe ik het beste het AES-algoritme handmatig 
    toe kan passen.</p>

  <br>
  <br>
  <p><b>15 december 2020 Artikel beoordeling : Martin Ederveen</b></p>
  <p class="no-bottom-margin">In Teams kreeg ik een bericht van Martin dat mijn onderdeel over Quantum networking al goed eruit zag als een artikel. Martin heeft de 
    beoordeling op Canvas aangepast van 'Beginning' naar 'Proficient'.</p>
  <img src="../../../../assets/feedback/artikel-feedback-martin.png">
  <p class="image">Afbeelding 3 Martin artikel beoordeling individueel</p>



  <br>
  <br>
  <br>
</div>