<p class="center-text"><b>Research approach</b></p>
<div class="middle-text-space">
  <p>Wij hebben als groep een opdracht om onderzoeken te doen. Omdat wij ook individueel moeten kunnen aantonen dat we een onderzoeksplan kunnen maken, hadden we een 
    opdracht gekregen om individueel een research approach te doen. Hiervoor heb ik onderzocht wat hiervoor de stappen zijn en hoe ik dit het beste kan aanpakken. Omdat 
    meerdere in onze groep dit probleem hadden, hebben we samen gekeken hoe we dit het beste konden doen. Het uiteindelijke resultaat is het opstellen van een document 
    waarin ik een plan laat zien hoe dit aangepakt kan worden. Ik heb hiervoor een voorbeeld voor gemaakt voor het R&D Project waarin ik ook alvast een hoofdvraag met 
    enkele deelvragen heb geformuleerd. Het complete document staat online op 
    <a href="https://fhict.instructure.com/courses/10171/assignments/158348?module_item_id=530538">Canvas</a>. Ik vertel hier hoe ik het onderzoeksplan zou opstellen.</p>
  <br>
  <ul>
    <li class="text">Om te beginnen heb ik een titelblad waarin de naam van het project staat en de namen van de studenten die meedoen aan dit project. Tevens staat er de 
      datum van wanneer dit document gemaakt is;</li>
    <br>
    <li class="text"><b>Voorwoord:</b> Hier staat vermeldt wat de aanleiding is tot dit onderzoek en waar het onderzoek over gaat;</li>
    <li class="text"><b>Samenvatting:</b> Hier staat een samenvatting van het onderzoek dit moet niet te technisch zijn, maar dit moet wel alle aspecten benoemen. 
      Tevens staat hier ook de hoofdvraag vermeldt;</li>
    <li class="text"><b>Inhoudsopgave:</b> Hier is een overzicht van welke onderdelen aan bod komen in het onderzoek;</li>
    <li class="text"><b>Inleiding:</b> In de inleiding staat de probleemstelling, opdrachtbeschrijving, eindproduct en de onderzoeksvragen;</li>
    <ul>
      <li class="text"><b>Voorbeeld hoofdvraag:</b> <i>"Hoe kunnen wij een digital factory met een AAS creëren die voldoet aan de wensen van onze projectleider?"</i>
      <br>
      Omdat deze vraag niet met ja of nee te beantwoorden is en omdat er nog vrij weinig bekend is over het project, denk ik dat dit een prima hoofdvraag is.
      </li>
      <li class="text">De deelvragen moeten onderzocht worden, als deze onderzocht zijn en hier een antwoord op gevonden is, zou deze de hoofdvraag moeten kunnen 
        beantwoorden. De voorbeeld deelvragen:</li>
        <ul>
          <li class="text"><i>"Wat is een AAS?"</i></li>
          <li class="text"><i>"Wat is een digital factory?"</i></li>
          <li class="text"><i>"Wat zijn de wensen van onze projectleider?"</i></li>
          <li class="text"><i>"Hoe kunnen wij een AAS implementeren?"</i></li>
          <li class="text"><i>"Hoe kunnen wij een digital factory opzetten?"</i></li>
          <li class="text"><i>"Wat voor mogelijke security dreigingen komen hierbij te sprake?"</i></li>
        </ul>
    </ul>
    <li class="text"><b>Onderzoek:</b> Hier wordt het onderzoek uitgevoerd en de deelvragen onderzocht. Elke deelvraag heeft hier een inleiding en als de deelvraag een 
      groot onderzoek is, dan wordt deze vaak in een ander document onderzocht en vervolgens wordt er naar verwezen als een bijlage in een samenvatting/conclusie van die 
      deelvraag in het hoofdonderzoek. De methodes die ik zou gebruiken om deze deelvragen te onderzoeken zijn de metdhodes uit het 
      <a href="http://ictresearchmethods.nl/The_DOT_Framework">DOT-framework</a>, dit bestaat uit de Field, Library, Workshop, Lab en Showroom methodes. 
      <ul>
        <li class="text">De Field methode kan gebruikt worden om te onderzoeken met wie of wat we te maken hebben en een inzicht te krijgen wat voor deze groep/persoon belangrijk is of wat 
          er nodig is en waarom dit product van belang is voor hen;</li>
        <li class="text">De Library methode kan gebruikt worden om te onderzoeken wat al gedaan is qua dit onderwerp en of ik hier al iets van kan hergebruiken, of juist nieuwe technieken 
          van op kan doen. Dit wordt meestal gedaan met behulp van bijvoorbeeld internet;</li>
        <li class="text"> De Lab methode is bedoeld om bijvoorbeeld een concept van het onderwerp te testen, hieruit kan dan blijken dat er bijvoorbeeld nog veranderingen nogid kunnen zijn;</li>
        <li class="text">De Workshop methode wordt gebruikt om de ideëen uit te werken in een werkend prototype. Hieruit kan dan weer blijken dat er misschien veranderingen nodig zijn;</li>
        <li class="text">De Showroom methode wordt gebruikt om je ideëen te laten zien. Dit kan ook een prototype zijn zodat de klant een beeld krijgt van hoe het eruit gaat zien.</li>
      </ul>
    </li>
    <li class="text"><b>Ontwerp en realisatie:</b> Indien er ontwerp of realisatie van een product nodig is binnen het onderzoek, dan kan dit hier worden beschreven en 
      uitgewerkt. Als dit heel groot is dan kan dit ook in een bijlage;</li>
    <li class="text"><b>Onderzoeksresultaten:</b> Hier worden de eindresultaten van de onderzoeken van de deelvragen beschreven;</li>
    <li class="text"><b>Conclusie:</b> In de conclusie wordt een totale conclusie vermeldt over het onderzoek, tevens wordt hier de hoofdvraag beantwoord;</li>
    <li class="text"><b>Aanbevelingen:</b> In dit hoofdstuk wordt een aanbeveling gedaan voor de project begeleider/klant of basis van de resultaten van het onderzoek;</li>
    <li class="text"><b>Literatuurlijst:</b> Hier worden de bronnen vermeldt die gebruikt zijn in het onderzoek, de bronnen die in een bijlage gebruikt zijn, staan hier niet vermeldt. 
      De literatuurlijst moet volgens de APA methode beschreven worden en alfabetisch opgesteld zijn;</li>
    <li class="text"><b>Bijlage:</b> Hier staan de bijlagen. Het is een keuze of de bijlage hier compleet toegevoegd wordt, of dat hier een referentie staat naar een 
      aparte bijlage. Persoonlijk zou ik een verwijzing doen naar een extern bestand, zodat het document netjes en overzichtelijk blijft.</li>
  </ul>
  <br>
  <h3><b>Resultaat</b></h3>
  <p>Mijn gedeelte heb ik op basis van een onderzoeksrapport gedaan. Ik vind deze opdeling duidelijk en prettig om mee te werken. Ik heb vaker een onderzoek gedaan zoals 
    bijvoorbeeld de stage en daar had ik ook een soort vergelijkbaar onderzoek. Daaruit bleek dat zowel de docent en stagebegleider hier erg tevreden over waren en dat 
    het duidelijk en netjes gestructureerd was.</p>
  <br>
  <h3><b>Reflectie</b></h3>
  <p>Na afloop had iedereen zijn research approach laten zien en hieruit bleek één ding. Bijna iedereen deed het op een andere manier en iedereen had wel zijn meningen over de 
    andere mogelijkheden. De deelvragen waren ook wel verschillend, maar sommige deelvragen zag ik wel meerdere keren terugkomen bij andere. Op zich is het wel leuk dat iedereen 
    deze opdracht individueel heeft gemaakt want zo zijn er verschillende uitkomsten die besproken kunnen worden. Hiermee kunnen we dus allemaal nieuwe dingen leren.</p>
  <br>
  <br>
  <br>
</div>