<p class="center-text"><b>Leerplan</b></p>
<div class="middle-text-space">
  <h1>Leerdoelen</h1>
  <p>De leerdoelen zijn wat ik in dit semester wil leren, dit zijn een aantal van de onderdelen die in Canvas beschreven staan. Hiernaast heb ik ook mijn eigen 
    leerdoelen waar ik verder in wil specialiseren. Ik heb de security engineering richting gekozen omdat ik het leuk vind om mijzelf te verdiepen in de security binnen 
    applicaties. Voor verdere uitwerkingen van wat ik wil bereiken na dit semester staan 
    <a routerLink="/specialisation" routerLinkActive="active">hier</a>
     beschreven. Natuurlijk wil ik mijzelf ook verder ontwikkelen in de hieronder beschreven soft skills.</p>
  <p class="no-bottom-margin"><b>Soft skills:</b></p>
  <ul>
    <li class="text">Teamwork;</li>
    <li class="text">Reflecteren;</li>
    <li class="text">Communiceren.</li>
  </ul>
  <br>
  <p>Met de soft skills wil ik mijn teamwork, reflecteren en communiceren ook verbeteren. Teamwork is grotendeels binnen de groep van het R&D Project van toepassing. 
    Ik wil in mijn individuele projecten ook een Agile methode aanhouden, zodat ik hier ook meer van leer en het later ook makkelijker maakt om dit succesvol toe te passen 
    in groepjes. Communiceren is uiteraard ook een onderdeel van het werken in groepjes, maar dit komt ook bij meetings met docenten zoals mijn coach aan de orde. 
    Reflecteren over mijn eigen werk is altijd lastig en hier kan ik ook wat mee verbeteren, daarom wil ik ook per project een eigen reflectie doen zodat ik dit per 
    project kan beoordelen. Met deze aanpak kan ik mezelf ook meer en vaker reflecteren dan één keer aan het eind.</p>
  <br>
  <p class="no-bottom-margin"><b>Leerdoelen:</b></p>
  <ul>
    <li class="text">Research (Grotendeels aangetoond in het R&D Project);</li>
    <li class="text">Verder verdiepen in encryptie;</li>
    <li class="text">Basis kennis krijgen van wat quantum networking inhoudt;</li>
    <li class="text">Stand alone application signing;</li>
    <li class="text">How internet applications and systems can be protected against the OWASP Top-10 attacks;</li>
    <li class="text">How security-by-design can be embedded in an (agile) development process;</li>
    <li class="text">How analyses and reports can be performed on risks, privacy, etc.;</li>
    <li class="text">What security features are offered by the systems, services, tools, and programming languages that I work with;</li>
    <li class="text">How to perform explicit security testing;</li>
    <li class="text">How cryptography can be applied in a secure way to protect stored data and to protect communications;</li>
    <li class="text">How to set-up multi-factor authentication in a secure and usable way.</li>
  </ul>
  <br>
  <p>Hieronder staan mijn eigen leerdoelen verder verduidelijkt, zodat er een breder beeld is van wat ik in dit semester wil bereiken.</p>
  <br>
  <p class="no-bottom-margin"><b>Research (Grotendeels aangetoond in het R&D Project):</b></p>
  <ul>
    <li class="text">Onderzoek naar risico analyse;</li>
    <li class="text">Onderzoek naar thread analysis en misuse cases;</li>
    <li class="text">Onderzoek naar privacy impact;</li>
    <li class="text">Onderzoek naar ethische analyse;</li>
    <li class="text">Onderzoek naar aspecten binnen het project zelf (technologieën, RevPi, AAS, etc.).</li>
  </ul>
  <p class="no-bottom-margin"><b>Verder verdiepen in encryptie:</b></p>
  <ul>
    <li class="text">Ik ken de basis van encryptie, maar ik wil hier inhoudelijk meer van weten (wiskunde, waarom is encryptie goed, hoe kan dit zo veilig zijn, etc.);</li>
    <li class="text">Verschillende soorten encryptie.</li>
  </ul>
  <p class="no-bottom-margin"><b>Stand alone application signing:</b></p>
  <ul>
    <li class="text">Denk aan digitaal ondergetekende licenties, licenties die uitgegeven kunnen worden aan een persoon die alleen in een bepaalde tijd geactiveerd 
      kan worden en die maar een bepaalde tijd geldig is.</li>
  </ul>
  <br>
  <h1>Excercises en challenges</h1>
  <p>Ik wil de Canvas structuur deels aanhouden. Ik wil kijken welke standaard Canvas excercises en challenges ik leuk vind. Daarnaast wil ik nog verder eigen uitdagingen 
    zoeken. Deze staan in mijn eigen MoSCoW structuur en prioriteit beschreven.</p>
  <br>
  <h3><b>Eigen uitdagingen:</b></h3>
  <ul>
    <li class="text">C: Mezelf verdiepen in het compileren van applicaties, hoe dit werkt en wat hierbij komt kijken;</li>
    <li class="text">S: Digitaal ondertekenen van licenties;</li>
    <li class="text">M: Reverse engineering en zo bijvoorbeeld malware/cracks kunnen toepassen;</li>
    <li class="text">S: Onderzoek doen naar quantum networking en encryptie op dat niveau;</li>
    <li class="text">M: Mezelf meer verdiepen in CPU instructies, RAM management, Assembly programmeertaal om zo meer kennis te krijgen hoe applicaties (inhoudelijk) werken, dit zal deels al naar voren komen in de reverse engineering challenges.</li>
  </ul>
  <br>
  <h3><b>De canvas excercises:</b></h3>
  <ul>
    <li class="text">M: Implement the google authenticator two-factor authentication mechanism on application and on server level;</li>
    <li class="text">M: Make a misuse case (or abuse case) design for an IT system, service or application that you are developing. Start with a global use case diagram of your IT system (or application). Research and add the best counter measures on application, system and network level to your design to prevent the misuse cases;</li>
    <li class="text">S: Fix some security bugs in an application or system environment. (For example the results from the first Red Team vs. Blue Team event). Report on the bugs and your fixes in your portfolio;</li>
    <li class="text">S: Perform the AES encryption operations manually on one block of 128-bits data with a 128-bit (round) key. Start with the data block in a 16 byte state and apply the four AES-operations on the state. Add a link to your portfolio page on cryptography to an appendix with the calculations;</li>
    <li class="text">M: Implement data encryption on application code level. Select a trusted cryptographic library for your programming language, find/select a use case for data encryption and implement the data encryption with the use of AES and the best fit block chaining method. Be aware of the difficulty of secure key handling (you don't want to hard code keys in your code) and find a good way to solve this problem. Explain your approach and the essential coding snippets and an example of execution of the code in your portfolio;</li>
    <li class="text">M: Learn the mathematical basics of RSA (and Diffie Hellman) public key cryptography : Modular arithmetic, the (extended) Euclidean algorithm, Euler's phi-function, Fermat's and Euler's theorem. Add a link to your portfolio page on cryptography to an appendix with some relevant calculations. Some example exercises;</li>
    <li class="text">M: Add security logging to your design, implementation and testing. Design: Add a list of security related events, the logging technology, code example, log message format. Implementation: Add a standard logging mechanism in your code, add the log events. Testing: test for the log events to be triggered, check if the logging is done correctly;</li>
    <li class="text">M: Add fuzzing tests for an application that you are developing, for example in the form of unit tests. Create fuzzing tests aimed at discovering buffer overflow issues and Denial of Service issues. If you are developing a web application you could also add fuzzing tests for XSS and/or SQL injection.</li>
  </ul>
  <br>
  <h3><b>De canvas challenges:</b></h3>
  <ul>
    <li class="text">M: Apply all security by design steps and techniques in your R&D project:
      <ul>
        <li class="text">Gather and discuss security requirements;</li>
        <li class="text">Define security threats for the system to develop and perform a risk analysis;</li>
        <li class="text">Put the threats in a secure design through misuse cases;</li>
        <li class="text">Work out security controls to limit the threats in your misuse cases;</li>
        <li class="text">Implement the security controls;</li>
        <li class="text">Test the security controls by developing test cases for the threats. Add fuzzing  tests;</li>
      </ul>
    </li>
    <li class="text">M: Join the Red Team - Blue Team test event! Deploy your developed system (application(s), servers, tooling, network functionality) in an operational testing environment. Configure your system and application logs to be send to a central log server or SIEM server in the combined test environment. Ask the blue teaming students how they can receive your logs (technology, port number, secure channel);</li>
    <li class="text">S: Advise other developers (e.g. team members in your or another R&D project) how to apply security in their developments;</li>
    <li class="text">C: Implement the AES algorithm in your favourite programming language. Note: It is not advised to implement cryptographic algorithms yourself for operational use unless you are a professional cryptographer, but for studying the algorithm it is a very nice challenge. Start with implementing support for just the 128 bit key length (you could always add the other key lengths later). Start with one block of data, then add the blockchaining (see [5], paragraph 5.1) mode ECB (note: this is easiest but unsafe is most applications), use null-padding as a padding scheme. After implementing ECB, add CBC, then other block chaining modes (CTF, CFB, ...) if you like.
      <br>
      Or:
      <br>
      Implement the RSA algorithm in your favourite programming language. Start with encryption and decryption of a byte of data with integer length keys. You can manually calculate the needed public key pair. Then expand to for example 2048 bit keylengths with public keypairs generated by openssl. You can implement Optimal Asymmetric Encryption Padding (OAEP) for padding. You can also implement digital signatures. For this, use a private key and your decryption algorithm for signing a sha-2 hash of data, and the public key to validate the signature;
      </li>
    <li class="text">C: Is (your) implemented (AES or RSA software) protected against side channel attacks?</li>
    <li class="text">M: Prepare towards the Red Team - Blue Team exercise (day/event) together with the Blue and Red Teaming students. Set up your secure systems and applications in an operational test environment. Connect/send your applications and systems security logs to the central log servers or SIEM servers from the Blue Teaming students. Support the Blue Teaming students to be able to add security sensors to your operational test network. Use the experience of the first event to improve your secure designs and implementations.</li>
  </ul>
  <br>
  <h1>Planning</h1>
  <p class="no-bottom-margin">Ik heb een globale planning gemaakt voor dit semester. De week zelf is ingedeeld als volgt:</p>
  <ul>
    <li class="text">Maandag is individueel met ruimte voor workshops;</li>
    <li class="text">Dinsdag is groepswerk op Fontys locatie;</li>
    <li class="text">Woensdag is groepswerk online;</li>
    <li class="text">Donderdag is individueel werken;</li>
    <li class="text">Vrijdag is individueel werken.</li>
  </ul>
  <br>
  <p>Met deze structuur is er voldoende tijd voor het individuele gedeelte. Mocht het nodig zijn dat er een dag verwisseld moet worden met de groep, dan sta ik hier 
    voor open.</p>
  <br>
  <p>Ik wil het grotendeel van de excercises en challenges in een applicatie verwerken. Dit moet wel mogelijk zijn omdat één applicatie gemakkelijk meerdere security 
    aspecten kan hebben. Voor deze applicatie heb ik een concept gemaakt, zie <a routerLink="/concept_project" routerLinkActive="active">chat app concept</a>. Deze chat applicatie wil ik ook gaan gebruiken voor de Red Team 
    - Blue Team test event. Overige onderdelen die niet bij een gehele chat applicatie passen, ga ik in kleinere los staande opdrachten verwerken.</p>
  <br>
  <p>Hieronder is een globalere samenvatting te zien van de excercises en challenges die ik in de chat applicatie in wil bouwen, en welke ik in losse opdrachten wil 
    uitvoeren. Door dit samen te vatten kan ik een overzichtelijkere planning maken.</p>
  <br>
  <h3 class="no-bottom-margin"><b>De chat applicatie:</b></h3>
  <ul>
    <li class="text">Google authenticator two-factor authentication;</li>
    <li class="text">Make a misuse case (or abuse case) design;</li>
    <li class="text">Fix some security bugs in an application or system environment. (For example the results from the first Red Team vs. Blue Team event);</li>
    <li class="text">Implement data encryption on application code level;</li>
    <li class="text">Add security logging to your design, implementation and testing;</li>
    <li class="text">Add fuzzing tests for an application that you are developing;</li>
    <li class="text">Join the Red Team - Blue Team test event;</li>
    <li class="text">Implement the AES algorithm in your favorite programming language, or, Implement the RSA algorithm in your favorite programming language;</li>
    <li class="text">Is your implemented (AES or RSA software) protected against side channel attacks.</li>
  </ul>
  <br>
  <h3 class="no-bottom-margin"><b>Losse opdrachten:</b></h3>
  <ul>
    <li class="text">Perform the AES encryption operations manually;</li>
    <li class="text">Learn the mathematical basics of RSA;</li>
    <li class="text">Apply all security by design steps and techniques in your R&D project;</li>
    <li class="text">Advise other developers (e.g. team members in your or another R&D project) how to apply security in their developments;</li>
    <li class="text">Mezelf verdiepen in het compileren van applicaties;</li>
    <li class="text">Reverse engineering en zo bijvoorbeeld malware/cracks kunnen toepassen;</li>
    <li class="text">Mezelf meer verdiepen in RAM management, Assembly programmeertaal.</li>
  </ul>
  <br>
  <h3 class="no-bottom-margin"><b>Globale planning:</b></h3>
  <p>Hieronder mijn globale individuele planning van week tot week:</p>
  <table>
    <tr>
      <th>Week</th>
      <th>Opdracht</th> 
    </tr>
    <tr>
      <td>1-2</td>
      <td>Leerplan/portfolio opzetten, eerste concept chat app</td>
    </tr>
    <tr>
      <td>3-7</td>
      <td>Uitwerkten research chat app en implementatie chat app</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Red Team - Blue Team event</td>
    </tr>
    <tr>
      <td>9-14</td>
      <td>Verder verbeteren/uitwerken chat app en uitwerken losse opdrachten</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Red Team - Blue Team event</td>
    </tr>
    <tr>
      <td>16-17</td>
      <td>Chat app en losse opdrachten afronden</td>
    </tr>
    <tr>
      <td>18-20</td>
      <td>Oplevering en assessments</td>
    </tr>
  </table>
  <br>
  <p>Gehele semester zal het portfolio bijgehouden worden en mijn bevindingen en oefeningen hierin beschreven worden.</p>
  <br>
  <br>
  <br>
</div>