<p class="center-text">R&D Project</p>
<div class="middle-text-space">
  <p>Met het R&D Project gaan we met de groep onderzoek doen naar een ASS (Asset Administration Shell) binnen een digital factory. In het begin was het een 
    beetje onduidelijk omdat de opdracht nog niet 100% gedefinieerd was. Langzaam werd er steeds meer duidelijk over het project. Wij zelf mochten ook ideeën 
    inbrengen voor het project, daarmee waren we ook begonnen. Het project is verdeeld in fases waarin we verschillende taken uitvoeren.</p>
  <h3><b>Onze groep</b></h3>
  <p>Onze groep bestaat uit zeven mensen: Ik, Arjan, Geoffrey, Maarten, Jochem, Wouter en Luuk. Geoffrey is degene die de communicatie over het project bespreekt met de 
    desbetreffende personen. Met onze groep werken we op dinsdag en woensdag aan het project, dinsdag op de school locatie en woensdag online via Teams. We doen iedere dag een 
    stand up om te overlegen wat iedereen de vorige keer gedaan had, wat er goed en fout ging en wat er vandaag gedaan gaat worden. Ik ben in dit project een keer geen 
    projectleider, maar ik vind het wel fijn om veel te overleggen en om toch wel te communiceren naar mensen hoever ze zijn en waar ze mee bezig zijn.</p>
  <br>

  <h3><b>Fase 1</b></h3>
  <p>In de eerste fase zijn we begonnen met onderzoeken wat we precies wilden gaan doen binnen dit project en wat er van ons verwacht werd. Hier hebben we dan voornamelijk 
    onderzoek gedaan naar hoe we het project het beste konden aanpakken, met wie we allemaal te maken hebben en wat we eigenlijk wilden gaan onderzoeken. Tijdens deze fase 
    hebben we al verschillende onderzoeken gedaan naar de privacy impact, risico analyse, thread analyse, ethische analyse en we hebben een eerste opzet gemaakt voor ons 
    onderzoeksplan. Het onderzoeksplan hebben we allemaal individueel gemaakt en naderhand samen besproken zodat we de hoofd- en deelvragen voor het onderzoek met 
    verschillende meningen konden bespreken. Dit hebben we besproken met Casper en Martin en hier en daar wat wijzigingen toegepast. De ethische analyse en de research approach heb ik individueel uitgevoerd 
    en heb ik uitgeschreven in mijn portfolio, deze zijn <a routerLink="/projects" routerLinkActive="active">hier</a> te zien.</p>
  
  <h3><b>Fase 2</b></h3>
  <p class="no-bottom-margin">In fase twee zijn we begonnen aan het research plan en hebben we de RevPi's en de ophaalbrug die we gaan gebruiken voor de AAS die wij gaan implementeren voor het 
    onderzoek, via school kunnen bemachtigen. We hadden het research plan al vrij snel af en omdat we nog wat tijd over hadden zijn we vast begonnen aan twee deelvragen. De 
    eerste deelvraag is het onderzoeken wat een AAS nu eigenlijk is en waarom men deze wil gebruiken, de tweede deelvraag is of er al bestaande implementaties bestaan. Hiervoor 
    hebben we een bedrijf benaderd die hierover een meeting gehouden heeft. Verder hebben we ook besproken over hoe we het onderzoek verder willen beschrijven, 
    er waren verschillende meningen over hoe we de deelvragen gaan beantwoorden en we hebben uiteindelijk gekozen waar de meeste stemmen naar toe gingen. Ik was het niet 
    eens met deze beslissing, maar ik ga niet mijn wil opdringen en ik sta ervoor open om het op hun manier te doen. Na feedback bleek dat we de vraag niet goed geformuleerd 
    hadden. Hij moest duidelijker en minder complex. We hadden de vraag opnieuw besproken en uiteindelijk tot een goede hoofdvraag gekomen. In de afbeelding hieronder zijn de 
    huidige hoofd- en deelvragen te zien.</p>
  <img src="../../../../assets/rd/onderzoeksvragen.png">
  <p class="image">Afbeelding 1 Onderzoeksvragen</p>
  
  <h3><b>Fase 3</b></h3>
  
  <p><b>Sprint 1</b></p>
  <p class="no-bottom-margin">In deze fase zijn we begonnen aan de eerste sprint. We hebben met Casper besproken wat een goed sprint doel zou zijn en hieruit kwam dat het een goed idee leek om een eerste
    werkend demo project te kunnen laten zien. We zijn begonnen met het verdelen van taken. Deze bestonden grotendeels uit het modeleren van onze AAS modellen, het implementeren 
    van MQTT op de server en op de RevPi, een server omgeving klaarzetten op Seclab en het maken van een webpagina waarop we de AAS'en kunnen visualiseren.</p>
  <img src="../../../../assets/rd/code/aas-dashboard.png">
  <p class="image">Afbeelding 2 AAS dashboard</p>

  <p>Ik zelf ben bezig 
    geweest met het uitzoeken en implementeren van MQTT op de server. Aan het einde van deze sprint vind ik dat de taken goed verdeeld waren en uiteindelijk hebben we de 
    systemen met elkaar gekoppeld, zodat we dit konden laten zien op de eerste sprint oplevering. Dit leverde nog wat problemen op met de RevPi bij Geoffrey, die op dat moment 
    daarmee bezig was. Ik heb samen met Geoffrey hier s'avonds nog naar gekeken en ondanks dat ik bijna geen kennis heb van Python, heb ik toch mee gezocht en toch wat problemen 
    ondervonden waar we uiteindelijk ook een oplossing voor hebben bedacht. De uiteindelijke werkende functionaliteiten waren het toevoegen van nieuwe AAS systemen en het 
    updaten van field waardes. Dit was ook onze planning voor wat we in de demo wilden laten zien. Onze AAS models zien er uit als volgt:</p>
  <img src="../../../../assets/rd/submodel.png">
  <p class="image">Afbeelding 3 AAS slagboom model</p>

  <p><b>Oplevering</b></p>
  <p>De oplevering ging best goed en we hebben hierbij ook een de demo laten zien. Zowel de docenten als de extern deskundige die met Teade mee kwamen, waren goed tevreden 
    en geïnteresseerd in verder verloop van dit project. Ze wilden ons ook helpen met bepaalde onderdelen waar hun meer kennis van hadden. Na afloop hadden we wat tips van Martin 
    gekregen om de sprint oplevering wat te fine tunen. Dit nemen we zeker mee naar de volgende sprint.</p>
  <img src="../../../../assets/rd/mail-martin.png">
  <p class="image">Afbeelding 4 Tips Martin</p>
  
  <p><b>Sprint 2</b></p>
  <p>We zijn begonnen aan sprint 2. In deze sprint gaan we over van MQTT naar OPC UA. OPC UA is volgens ons onderzoek meer een standaard voor industriële systemen. Wij gaan ook 
    werken met industriële systemen. Momenteel een RevPi. We hebben de taken weer verdeeld onder de groepsleden. Mijn taak is om te onderzoeken en alvast kijken hoe we OPC UA 
    kunnen implementeren. Hiervoor heb ik samen met Luuk twee kandidaat libraries gevonden. Ik ben een demo aan het maken met een van de twee en Luuk maakt een demo met de andere. 
    Hierna kunnen we ze met elkaar verglijken en uiteindelijk een van de twee kiezen. Later is Wouter mij gaan ondersteunen met de implementatie van OPC UA. We hebben dit deels 
    werkend gekregen, ook samen met de client die op de RevPi gaat draaien. Echter kwamen we erachter dat we enorm veel zelf moeten implementeren om dit protocol volgens de 
    standaarden te maken. OPC UA is een enorm groot protocol en hierbij komen veel aspecten bij. Hiermee zijn we een lange tijd bezig om dit werkend te krijgen waardoor we 
    waarschijnlijk het hoofd doel van het onderzoek, security van de AAS, mis gaan lopen. Dit hebben we met Casper overlegd en hij kon het wel begrijpen. Het plan is om voor nu 
    verder te gaan met MQTT en OPC UA even laten voor wat het is.</p>

  <p><b>Peer review</b></p>
  <p>We hebben in de groep een peer review gedaan over elkaar. Iedereen heeft iedereen gehad zodat er een goed overzichtelijk beeld is van hoe andere naar elkaar kijken.</p>
  
  <p class="no-bottom-margin">In de afbeelding is de peer review van een iemand anders die mij beoordeeld heeft te zien. We werken met scoren en het maximaal haalbare 
    score per persoon is 80. Dus het totaal van zes andere mensen is 6 * 80 = 480. Ik kwam uit op een totaalscore van 414. Dit betekent als dit in procenten uitgerekend 
    wordt, dan kom ik neer op 86.25%. In punten komt dit neer op een 8,6. Ik ben tevereden over dit resultaat. De volledige peer reviews kunnen 
    <a href="https://stichtingfontys.sharepoint.com/sites/CyberSecurityMinor20192020-HTESresearchproject/Gedeelde%20documenten/Forms/AllItems.aspx?RootFolder=%2Fsites%2FCyberSecurityMinor20192020%2DHTESresearchproject%2FGedeelde%20documenten%2FHTES%20research%20project%2FPeer%20reviews&FolderCTID=0x012000DBDE9BC097612D44AEC21FADBFF003C9">
    hier</a> in detail bekeken worden.</p>
  <img class="normal" src="../../../../assets/rd/peer-review.png">
  <p class="image">Afbeelding 5 Peer review</p>

  <p>Halverwege sprint 2 hebben we de functies aanroepen werkend gekregen. Het is nu mogelijk om functies op de RevPi aan te sturen via de web-interface die we hebben gemaakt. 
    Geoffrey was bezig om de encryptie van en naar de MQTT-server te maken. Toen hij hiermee klaar was, moest ik dit ook in de gateway implementeren. Hiervoor kreeg ik 
    te weinig informatie terwijl hij dacht dat dit voldoende informatie was. Ik heb toen nog uitleg gegeven over hoe TLS/SSl inhoudelijk werkt. Nadat ik dit uitgelegd had 
    begreep hij hoe het zat en al snel hierna hadden we het werkend met de gateway.</p>
  
  <p><b>Oplevering</b></p>
  <p>We hebben deze sprintoplevering beter voorbereid dan de vorige keer. We hadden de demo opgenomen voor het geval dat er iets mis zou gaan. De presentatie hadden we 
    opgedeeld zodat iedereen wat te vertellen had, we hadden dit zo opgedeeld dat iedereen vertelt over het gedeelte waarin hij het meest in heeft gewerkt. Ik heb 
    grotendeels aan de gateway gewerkt en dit was ook mijn onderdeel in de presentatie.</p>
  
  <p>De oplevering zelf ging erg goed en iedereen had zijn deel gepresenteerd. Een verbeterpuntje voor de volgende keer is het afwisselen van plek bij het presenteren, 
    dit heeft te maken dat als er meerdere microfoons in een locatie aan staan dat deze storen op elkaar. In het verloop van de oplevering deden we dit wel omdat dit 
    beter ging. Een extern deskundige van Teade genaamd John kwam later in de oplevering erbij. Deze had ons eerder een hulpmiddel gegeven om onze modellen te structureren, 
    echter was dit enorm uitgebreid en zou heel veel tijd kosten om dit volgens protocol te implementeren waardoor we minder tijd over houden voor de security, waar toch 
    de focus op ligt. Dit hebben we ook verteld in de presentatie en John was het met ons eens op basis van onze argumenten waarom we dit niet gingen doen.</p>

  <p>Na afloop hoorde we van Teade, John, Casper en Martin dat de presentatie erg goed en vloeiend verlopen was en we kregen erg positieve feedback. Het was goed dat we 
    de demo opgenomen hadden want op die dag lag het Seclab eruit. Ondanks dat hebben we toch een mooie demo kunnen geven. Een dag later kregen we bericht dat Teade 
    graag onze applicatie lokaal wilde draaien met de vraag hoe hij dit kon doen. Op basis van deze aanvraag hebben we meteen een Readme gemaakt zodat wie dan ook 
    gemakkelijk onze opstelling kan opzetten. Persoonlijk vind ik het leuk dat er vanuit Teade deze interesse is voor ons project. Ook kreeg ik later nog een bericht 
    van Martin op teams met daarin complimenten voor onze goede oplevering. Hij had ook een goed beeld gekregen van hoe we op schema liggen.</p>
  
  <p><b>Sprint 3</b></p>
  <p>We zijn begonnen met de 3<sup>e</sup> sprint. We hebben met Casper, Teade en Martin besproken wat we uiteindelijk willen gaan opleveren. Meteen zijn we na de 
    oplevering aan de gang gegaan om taken uit te werken en hier kaartjes voor te maken. Dit ging soepel en hier zijn we de volgende dag meteen mee begonnen.</p>

  <p>Halverwege sprint 3 ging Nederland in lockdown, vanaf toen moesten we thuis werken. Dat was geen enkel probleem, alleen de fysieke brug moesten we wel hebben om 
    het project af te maken. Ik woon het meest dichtbij school en ik was die dag ook met de auto. Daarom staat de brug nu bij mij thuis. Het was niet nodig om de brug 
    aan te passen of dergelijke, ik kom hem thuis meteen werkend neerzetten.</p>

  <p>Ondertussen zijn we aan het eind van Sprint 3 beland. De implementatie is helemaal af, en de documentatie ondertussen ook. Thuis hebben Geoffrey en ik een opname 
    gemaakt van de totale werking, hiervan is ook een video op YouTube gezet. Deze is <a href="https://www.youtube.com/watch?v=lU-dTpe-s3A">hier</a> te zien. Momenteel 
    zijn we nog bezig met het afmaken van de laatste onderdelen en de puntjes op de i zetten en voorbereidingen aan het treffen voor de laatste sprint oplevering.</p>
  <br>
  <br>
  <br>
</div>