<p class="center-text">R&D Project</p>
<div class="middle-text-space">
  <p>In het R&D Project gaan we met de groep onderzoek doen naar een ASS (asset administration shell) binnen een digital factory. In het begin was het een beetje onduidelijk 
    omdat de opdracht nog niet 100% gedefinieerd was. Langzaam werdt er steeds meer duidelijk over het project. Wij zelf mochten ook ideeën inbrengen voor het project, daarmee 
    waren we ook begonnen. Het project is verdeeld in fases waarin we verschillende taken uitvoeren.</p>
  
  <h3><b>Fase 1</b></h3>
  <p>In de eerste fase zijn we begonnen met onderzoeken wat we precies wilde gaan doen binnen dit project en wat er van ons verwacht werd. Hier hebben we dan voornamelijk 
    onderzoek gedaan naar hoe we het project het beste konden aanpakken, met wie we allemaal te maken hebben en wat we eigenlijk wilden gaan onderzoeken. Tijdens deze fase 
    hebben we al verschillende onderzoeken gedaan naar de privacy impact, risico analyse, thread analyse, ethische analyse en we hebben een eerste opzet gemaakt voor ons 
    onderzoeksplan. Het onderzoeksplan hebben we allemaal individueel gemaakt en naderhand samen besproken en zodate we de hoofd- en deelvragen voor het hoofdonderzoek. 
    Dit hebben we besproken met Casper en Martin en hier en daar wat wijzigingen toegepast. De ethische analyse en de research approach heb ik individueel uitgevoerd 
    en heb ik uitgeschreven in mijn portfolio, deze zijn <a routerLink="/projects" routerLinkActive="active">hier</a> te zien.</p>
  
  <h3><b>Fase 2</b></h3>
  <p>In fase twee zijn we begonnen aan het research plan en we hebben de RevPi's en de ophaalbrug die we gaan gebruiken voor de AAS die wij gaan implementeren voor het 
    onderzoek, via school kunnen bemachtigen. We hadden het research plan al vrij snel af en omdat we nog wat tijd over hadden zijn we vast begonnen aan twee deelvragen. De 
    eerste deelvraag is het onderzoeken wat een AAS nu eigenlijk is en waarom men deze wil gebruiken, de tweede deelvraag is of er al bestaande implementaties bestaan. Hiervoor 
    hebben we een bedrijf benaderd die hierover een persconferentie gehouden heeft. Verder hebben we ook besproken over hoe we het onderzoek verder willen beschrijven, 
    er waren verschillende meningen over hoe we de deelvragen gaan beantwoorden en we hebben uiteindelijk gekozen waar de meeste stemmen naar toe gingen. Ik was het niet 
    eens met deze beslissing, maar ik ga niet mijn wil opdringen en ik sta ervoor open om het op hun manier te doen.</p>
  
  <h3><b>Fase 3</b></h3>
  
  <p><b>Sprint 1</b></p>
  <p>In deze fase zijn we begonnen aan de eerste sprint. We hebben met Casper besproken wat een goed sprint doel zou zijn en hieruit kwam dat het een goed idee leek om een eerste
    werkend demo project te kunnen laten zien. We zijn begonnen met het verdelen van taken. Deze bestonde grotendeels uit het medeleren van onze AAS modellen, het implementeren 
    van MQTT op de server en op de RecPi, een server omgeving klaarzetten op Seclab en het maken van een webpagina waarop we de AAS'en kunnen visualiseren. Ik zelf ben vooral 
    bezig geweest met het implementeren van MQTT op de server. Op het einde van deze sprint vind ik dat de taken goed verdeeld waren en uiteindelijk hebben we de systemen met 
    elkaar gekoppeld zodat we dit konden laten zien op de eerste sprint oplevering. De functionaliteiten was het toevoegen van nieuwe AAS'em en het updaten van field waardes.</p>
  <p><b>Sprint 1 oplevering</b></p>
  <p>De oplevering ging best goed en we hebben hierbij ook delen van de demo laten zien. Zowel de docenten als de extern deskundige die met Teade mee kwamen, waren goed tevreden 
    en geïnteresseerd in verder verloop van dit project. Ze wilden ons ook helpen met bepaalde onderdelen waar hun meer kennis van hadden. Na afloop hadden we wat tips van Martin 
    gekregen om de sprint oplevering wat fine te tunen. Dit nemen we zeker mee naar de volgende sprint</p>
  
  <p><b>Sprint 2</b></p>
  <p>We zijn begonnen aan sprint 2. In deze sprint gaan we over van MQTT naar OPC UA. OPC UA is volgens ons onderzoek meer een standaard voor industriële systemen. Wij gaan ook 
    werken met industriële systemen. Momenteel een RevPI.</p>
  
  <br>
  <br>
  <br>
</div>