<p class="center-text">Ethical analysis</p>
<div class="middle-text-space">
  <h1>Beschrijving</h1>
  <p>Voor het R&D Project hebben we ethical analysis gedaan over het project. De bedoeling was dat we het hele document per groep deden waarvan ieder daarvan een onderdeel
     individueel onderzocht. Mijn onderdeel was het 'Data' stukje.</p>
  <br>
  <h3><b>Uitwerking</b></h3>
  <p class="no-bottom-margin">Bij data ethiek komen veel aspecten kijken, hierbij is het vooral belangrijk om inzicht te hebben in hoe deze data gebruikt wordt, en waar
     deze data vandaan komt. We gaan in dit onderdeel dieper in op de volgende aspecten:</p>
  <ul>
    <li class="text">Hoe wordt de data gegenereerd;</li>
    <li class="text">Hoe en waar wordt deze data gedeeld;</li>
    <li class="text">Of er machine learning bij te pas komt en hoe deze met de data omgaat;</li>
    <li class="text">Waar wordt de data in onze applicatie voor gebruikt.</li>
  </ul>
  <br>
  <p class="no-bottom-margin"><b>Hoe wordt de data gegenereerd?</b></p>
  <p>Wij genereren zelf geen data in onze AAS software, de data die wij gebruiken is eerder gegenereerde data van systemen zoals een PLC of dergelijke bron. Het kan zijn
     dat wij in een later stadium wel andere functies kunnen toevoegen die data genereren, denk aan logging of andere informatie, deze data zal los staan van de originele 
     data van de systemen.</p>
  <br>
  <p class="no-bottom-margin"><b>Hoe en waar wordt deze data gedeeld?</b></p>
  <p>De data delen wij niet met derde partijen. Deze data zal in de scope van onze applicatie te allen tijde binnen het bedrijf blijven. Het zou wel mogelijk zijn dat wij 
    data ophalen of doorsturen naar andere AAS systemen om zo makkelijker data van de systemen op te halen of data hierheen sturen.</p>
  <br>
  <p class="no-bottom-margin"><b>Of er machine learning bij te pas komt en hoe deze met de data omgaat?</b></p>
  <p>Momenteel is er nog geen sprake dat er machine learning aan te pas gaat komen. Mocht dit in een later stadium toegevoegd worden, dan zullen wij nog steeds geen data 
    aanpassen. Wij zullen deze data dan alleen gebruiken om meer informatie uit de data te halen, of om bepaalde handelingen makkelijker of sneller te maken.</p>
  <br>
  <p class="no-bottom-margin"><b>Waar wordt de data in onze applicatie voor gebruikt?</b></p>
  <p>In principe is het niet de bedoeling om de data die van de systemen af komt te veranderen. Wij maken het alleen mogelijk dat de data van deze systemen makkelijker
     op te halen is. Wij doen eigenlijk ook niets anders dan deze data ophalen en verder doorsturen.</p>
  <br>
  <br>
  <h3><b>Resultaat</b></h3>
  <p>Mijn gedeelte van dit onderwerp is het 'Data' stukje. Samen hebben we met het R&D Project groepje het hele document gamaakt. Het hele document is te zien in het 
    inleverpunt op <a href="https://fhict.instructure.com/courses/10171/assignments/158347?module_item_id=530537">Canvas</a>. Ik heb nog over het hele document heen gelezen voor 
    eventuele feedback voor de andere. Er waren een paar kleine puntjes en deze waren snel al opgelost. Ik ben tevereden over het eindresultaat ondanks het feit dat we vrij 
    weinig informatie hadden over wat het project precies allemaal inhield.</p>
  <br>
  <h3><b>Reflectie</b></h3>
  <p>We hadden samen met de groep gebrainstormed over hoe we dit het beste konden aanpakken. Uiteindelijk met wat gesprekken met docenten en eigen ideeën hebben we het op deze 
    manier gedaan. Iedereen heeft zijn steentje bij gedragen en we hebben het ruim op tijd af gekregen. Toen ik mijn deel af had, heb ik nog feedback gevraagd binnen de groep. 
    Hieruit kwamen een paar kleine wijzigingen die ik meteen ook overlegt en waar nodig verwerkt had.</p>
  <br>
  <br>
  <br>
</div>