<p class="center-text">OSINT workshop</p>
<div class="middle-text-space">
  <h1>Beschrijving</h1>
  <p>OSINT is het verzamelen van data die publiek toegankelijk is. Dit betekend dat er al veel data verzameld kan worden over iemand of over een onderwerp, 
    zonder ook maar iets te hacken of iets te doen wat ethisch niet verantwoord is.</p>
  <br>
  <h3><b>Opdracht</b></h3>
  <p>Doe onderzoek naar Mr, Hamers, en de aanvoer van de kerosinepijpleidingen van Schiphol. Kijk hoeveel informatie je kan vinden binnen een korte tijd. We kregen 
    hiervoor ongeveer 10 minuten tijdens de workshop, het doel was om te zien hoeveel informatie je binnen die tijd kon vinden.</p>
  <br>
  <p><b>Mr, Hamers</b></p>
  <img src="../../../assets/workshops/osint/mr-hamers.jpg">
  <p class="image">Afbeelding 1 Ralph Hamers</p>
  <br>
  <p class="no-bottom-margin">Volledige naam: Ralph Adrianus Joseph Gerardus Hamers.</p>
  <p class="no-bottom-margin">Geboren: 1966 en dus 54 jaar.</p>
  <p class="no-bottom-margin">Vrouw: Patricia van Nimwegen.</p>
  <p class="no-bottom-margin">Kinderen: 2 (tweeling).</p>
  <p class="no-bottom-margin">Beroep: CAO bij ING tot 30 juni 2020, momenteel is hij directievoorzitter bij UBS.</p>
  <p class="no-bottom-margin">Woonlocatie: Geboren in Simpelveld, momenteel in Amsterdam.</p>
  <p class="no-bottom-margin">Salaris: (Bij ING) 3M per jaar, bij UBS hoger geschat.</p>
  <br>
  <br>
  <p><b>Kerosinepijpleidingen Schiphol</b></p>
  <img src="../../../assets/workshops/osint/pijpleiding-schiphol.jpg">
  <p class="image">Afbeelding 2 Pijpleiding Schiphol</p>
  <br>
  <p class="no-bottom-margin">Afkorting: DPO (Defensie Pijpleiding Organisatie).</p>
  <p class="no-bottom-margin">Diepte: 1.20M.</p>
  <p class="no-bottom-margin">Max druk: 80 bar.</p>
  <p class="no-bottom-margin">Flow: 60K-500K liter per uur.</p>
  <p class="no-bottom-margin">Afname Schiphol: 2 Miljard liter per jaar.</p>
  <p class="no-bottom-margin">Lengte (naar Schiphol): 16KM.</p>
  <p class="no-bottom-margin">Beginlocatie: Poortugaal (Dorpje bij Rotterdam).</p>
  <br>
  <h3><b>Resultaat</b></h3>
  <p>Ik heb wat informatie gevonden binnen die 10 minuten met puur alleen Google search. Als ik hier
    nog meer andere tools op los laat, dan verwacht ik dat er binnen een dag tijd al best veel informatie gevonden kan worden. 
    Met meer informatie zou het mogelijk zijn om bijvoorbeeld een aanval te kunnen uitvoeren.</p>
  <br>
  <br>
  <br>
</div>