<p class="center-text">Workshops</p>
<div class="middle-text-space">
  <p>Hier staan alle workshops die ik gevolgd heb. De uitwerking hiervan is te vinden door op een van de onderstaande afbeeldingen te klikken.</p>
</div>
<div class="projects-space">
  <div class="project" (click)="navigate('osint_workshop')">
    <img src="../../../assets/osint.png">
  </div>
  <div class="project" (click)="navigate('prevent_the_unexpected_workshop')">
    <img src="../../../assets/prevent-the-unexpected.jpg">
  </div>
  <div class="project" (click)="navigate('reverse_engineering_workshop')">
    <img src="../../../assets/reverse-engineering.png">
  </div>
</div>