<p class="center-text">Reflectie</p>
<div class="middle-text-space">
  <h3><b>Halverwege</b></h3>
  <p><b>R&D Project</b></p>
  <p class="no-bottom-margin">Het is nu halverwege het semester en we zijn al goed bezig met het implementeren van de applicaties. We hebben nu werkend dat we 
    een RevPi kunnen registreren binnen ons systeem als een asset en hiervan kunnen we ook al velden updaten. Op de web browser die we hiervoor gemaakt hebben 
    kunnen deze assets gevisualiseerd worden in een dashboard.</p>
  <img src="../../../../assets/rd/code/aas-dashboard.png">
  <p class="image">Afbeelding 1 AAS Dashboard</p>

  <p>Qua onderzoek hebben we al verschillende resultaten gevonden, de onderzoeken die we hebben gedaan gaan over verschillende onderwerpen en dit helpt 
    iedereen uiteraard met de leerdoelen betreft research uitvoeren aan te tonen.</p>

  <p>We zijn begonnen om de communicatie via MQTT te laten verlopen en vervolgens wilden we overgaan naar OPC UA. Omdat het implementeren van OPC UA erg ingewikkeld is en omdat 
    wij hier nog erg veel aan moesten doen om dit volgens de standaarden te implementeren, hebben we met Casper overlegd om verder te gaan met MQTT zodat we ons beter konden 
    focussen op de security van de AAS in plaats van het werkend krijgen van OPC UA.</p>

  <p>We hebben in de groep een peer review gedaan over elkaar. In deze peer review is de maximaal haalbare score 480, ik kwam uit op een score van 414. Dit betekent als 
    dit in procenten uitgerekend wordt, dan kom ik neer op 86.25%. In punten komt dit neer op een 8,6. Ik ben wel tevereden over dit resultaat.</p>

  <p>Achteraf ben ik tevreden over onze behaalde resultaten zo ver. Ik hoop dat we in het tweede helft van dit semester zo door kunnen gaan en uiteindelijk goede resultaten 
    kunnen opleveren. Het lijkt erop dat dit wel moet lukken.</p>

  <br>
  <p><b>Individueel</b></p>
  <p class="no-bottom-margin">De chat applicatie Felix is zo goed als af. Alle functionaliteiten beschreven in het leerplan zijn geïmplementeerd en volledig 
    werkend. Hieronder een afbeelding van hoe het chat overzicht er uit ziet.</p>
  <img src="../../../../assets/felix/final-result.png">
  <p class="image">Afbeelding 2 Resultaat Felix</p>

  <p class="no-bottom-margin">Individueel heb ik al best wat leerdoelen aangetoond met het maken van mijn chat applicatie Felix. In mijn 
    <a routerLink="/learningplan" routerLinkActive="active">leerplan</a> had ik al wat leerdoelen uitgekozen die ik in mijn chat applicatie wilde aantonen. 
    De leerdoelen die ik gekozen had zijn als volgt. De leerdoelen die doorstreept zijn heb ik aangetoond in mijn chat applicatie.</p>
  <ul>
    <li class="text"><s>Google authenticator two-factor authentication</s>;</li>
    <li class="text"><s>Make a misuse case (or abuse case) design</s>;</li>
    <li class="text"><s>Fix some security bugs in an application or system environment</s>;</li>
    <li class="text"><s>Implement data encryption on application code level</s>;</li>
    <li class="text"><s>Add security logging to your design, implementation and testing</s>;</li>
    <li class="text">Add fuzzing tests for an application that you are developing;</li>
    <li class="text"><s>Join the Red Team - Blue Team test event</s>;</li>
    <li class="text"><s>Implement the AES algorithm in your favorite programming language, or, Implement the RSA algorithm in your favorite programming language</s>;</li>
    <li class="text"><s>Is your implemented (AES or RSA software) protected against side channel attacks</s>.</li>
  </ul>
  <p>Hieruit blijkt dat ik nog de fuzzing tests wil aantonen. Deze wil ik aantonen in de volgende helft van dit semester, fuzzing tests kan ook alleen effectief 
    uitgevoerd worden op een werkende applicatie dus het is logisch dat deze in een later stadium uitgevoerd wordt.</p>
  <p>De leerdoelen voor de losse opdrachten stonden al gepland voor de tweede helft. Volgens mijn planning die ook in mijn leerdoel pagina staan, loop ik 
    precies op schema.</p>

  <br>
  <br>
  <br>
</div>