.center-text
{
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: antiquewhite;
}

.image
{
    font-size: 12px;
    font-style: italic;
}

.text
{
    font-size: 18px;
    color: antiquewhite;
}

.small
{
    width: 100%;
}