<p class="center-text">Reflectie</p>
<div class="middle-text-space">

  <p>In deze pagina ga ik in op hoe ver ik ben met mijn leerdoelen en de behaalde resultaten. Voor de uitgebreide reflectie op de leerdoelen en persoonlijke 
    ontwikkeling, zie de <a routerLink="/po" class="dropdown-screen-nav-item" routerLinkActive="active">persoonlijke ontwikkeling</a> pagina.</p>

  <br>
  <h3><b>Halverwege</b></h3>
  <p><b>R&D Project</b></p>
  <p class="no-bottom-margin">Het is nu halverwege het semester en we zijn al goed bezig met het implementeren van de applicaties. We hebben nu werkend dat we 
    een RevPi kunnen registreren binnen ons systeem als een asset en hiervan kunnen we ook al velden updaten. Op de web browser die we hiervoor gemaakt hebben 
    kunnen deze assets gevisualiseerd worden in een dashboard.</p>
  <img src="../../../../assets/rd/code/aas-dashboard.png">
  <p class="image">Afbeelding 1 AAS Dashboard</p>

  <p>Qua onderzoek hebben we al verschillende resultaten gevonden, de onderzoeken die we hebben gedaan gaan over verschillende onderwerpen en dit helpt 
    iedereen uiteraard met de leerdoelen betreft research uitvoeren aan te tonen.</p>

  <p>We zijn begonnen om de communicatie via MQTT te laten verlopen en vervolgens wilden we overgaan naar OPC UA. Omdat het implementeren van OPC UA erg ingewikkeld is en omdat 
    wij hier nog erg veel aan moesten doen om dit volgens de standaarden te implementeren, hebben we met Casper overlegd om verder te gaan met MQTT zodat we ons beter konden 
    focussen op de security van de AAS in plaats van het werkend krijgen van OPC UA.</p>

  <p>We hebben in de groep een peer review gedaan over elkaar. In deze peer review is de maximaal haalbare score 480, ik kwam uit op een score van 414. Dit betekent als 
    dit in procenten uitgerekend wordt, dan kom ik neer op 86.25%. In punten komt dit neer op een 8,6. Ik ben wel tevereden over dit resultaat.</p>

  <p>Achteraf ben ik tevreden over onze behaalde resultaten zo ver. Ik hoop dat we in het tweede helft van dit semester zo door kunnen gaan en uiteindelijk goede resultaten 
    kunnen opleveren. Het lijkt erop dat dit wel moet lukken.</p>

  <br>
  <p><b>Individueel</b></p>
  <p class="no-bottom-margin">De chat applicatie Felix is zo goed als af. Alle functionaliteiten beschreven in het leerplan zijn geïmplementeerd en volledig 
    werkend. Hieronder een afbeelding van hoe het chat overzicht er uit ziet.</p>
  <img src="../../../../assets/felix/final-result.png">
  <p class="image">Afbeelding 2 Resultaat Felix</p>

  <p class="no-bottom-margin">Individueel heb ik al best wat leerdoelen aangetoond met het maken van mijn chat applicatie Felix. In mijn 
    <a routerLink="/learningplan" routerLinkActive="active">leerplan</a> had ik al wat leerdoelen uitgekozen die ik in mijn chat applicatie wilde aantonen. 
    De leerdoelen die ik gekozen had zijn als volgt. De leerdoelen die doorstreept zijn heb ik aangetoond in mijn chat applicatie.</p>
  <ul>
    <li class="text"><s>Google authenticator two-factor authentication</s>;</li>
    <li class="text"><s>Make a misuse case (or abuse case) design</s>;</li>
    <li class="text"><s>Fix some security bugs in an application or system environment</s>;</li>
    <li class="text"><s>Implement data encryption on application code level</s>;</li>
    <li class="text"><s>Add security logging to your design, implementation and testing</s>;</li>
    <li class="text">Add fuzzing tests for an application that you are developing;</li>
    <li class="text"><s>Join the Red Team - Blue Team test event</s>;</li>
    <li class="text"><s>Implement the AES algorithm in your favorite programming language, or, Implement the RSA algorithm in your favorite programming language</s>;</li>
    <li class="text"><s>Is your implemented (AES or RSA software) protected against side channel attacks</s>.</li>
  </ul>
  <p>Hieruit blijkt dat ik nog de fuzzing tests wil aantonen. Deze wil ik aantonen in de volgende helft van dit semester, fuzzing tests kan ook alleen effectief 
    uitgevoerd worden op een werkende applicatie dus het is logisch dat deze in een later stadium uitgevoerd wordt.</p>
  <p>De leerdoelen voor de losse opdrachten stonden al gepland voor de tweede helft. Volgens mijn planning die ook in mijn leerdoel pagina staan, loop ik 
    precies op schema.</p>

  <br>
  <h3><b>Richting het eind</b></h3>
  <p><b>R&D Project</b></p>
  <p>We gaan richting het einde van dit semester, we hebben de AAS-implementatie zelf af, we kunnen de brug aansturen via functies en deze 
    geüpdaten brug waardes laten zien aan de gebruiker van de web-omgeving. We hebben besproken wat we willen opleveren en 
    we zijn nu grotendeels aan de op te leveren producten aan het werken. Dit is veel documenteren en de puntjes op de i zetten.</p>
  <p>We hebben al het onderzoek al af, het is nog een kwestie van het hoofdonderzoek aftypen en de deelvragen concluderen zodat we de hoofdvraag kunnen beantwoorden. 
    Dit doen we grotendeels gezamelijk. De meeste onderzoeken zelf zijn al uitgevoerd, maar we moeten het nog netjes beschrijven.</p>
  
  <p>Klik <a target="_self" href="../../../assets/AAS-HTES-Demo.mp4" download="AAS-HTES-Demo.mp4">hier</a> 
    om de demo te downloaden en te bekijken, in de demo staat Maarten. Het tandwiel wat aan de brug zit is kapot en daarom helpt Maarten de brug even mee.
    Ondertussen is deze gerepareerd.</p>

  <br>
  <p><b>Individueel</b></p>
  <p>Felix is af, alle onderdelen die ik hierin wilden implementeren zijn geïmplementeerd. Ik heb een demo opgenomen waarin ik de hele applicatie laat zien.
    De demo is <a target="_self" href="../../../assets/Felix-demo.mp4" download="Felix demo.mp4">hier</a> te downloaden en te bekijken.</p>

  <p>Als ik ga kijken naar de leerdoelen in mijn leerplan, dan ben ik goed onderweg. Zie de 
    <a routerLink="/po" class="dropdown-screen-nav-item" routerLinkActive="active">persoonlijke ontwikkeling</a> pagina voor een uitgebreide reflectie op de leerdoelen. 
    Ik heb alles af behalve nog twee onderdelen, die twee onderdelen zijn het handmatig toepassen van het AES-algoritme en mezelf wat meer verdiepen in de Assembly 
    programmeertaal.</p>
     
  <p>Ik heb samen met Twan van Antwerpen uit het blue team, verschillende tests gedaan voor hun tools (Wazuh) voor op de servers van de software engineers zodat hun deze 
    kunnen monitoren. Ik heb deze uiteraard ook allemaal geïnstalleerd bij mijn API. Hier kan het verbruik van de server gezien worden, ook andere informatie 
    zoals het aantal inlog pogingen op de server. De screenshots van hoe dit eruit ziet staan hieronder.</p>

  <p class="no-bottom-margin">CPU en load monitoring</p>
  <img class="small" src="../../../../assets/blue/monitoring-1.png">
  <p class="image">Afbeelding 3 CPU en load</p>

  <p class="no-bottom-margin">Geheugen monitoring</p>
  <img class="small" src="../../../../assets/blue/monitoring-2.png">
  <p class="image">Afbeelding 4 Geheugen</p>

  <p class="no-bottom-margin">Wazuh monitoring overzicht</p>
  <img class="small" src="../../../../assets/blue/monitoring-3-wazuh.png">
  <p class="image">Afbeelding 5 Wazuh overzicht</p>

  <p class="no-bottom-margin">Wazuh monitoring MITRE ATT&CK</p>
  <img class="small" src="../../../../assets/blue/monitoring-4-wazuh.png">
  <p class="image">Afbeelding 6 Wazuh MITRE ATT&CK</p>
  <br>
  <br>
  <br>
</div>