<p class="center-text"><b>Persoonlijke ontwikkeling</b></p>
<div *ngIf=true class="middle-text-space">

  <p>Op deze pagina beschrijf ik mijn persoonlijke ontwikkeling zowel op technische- en soft skills. Per onderdeel beschrijf ik wat ik heb gedaan om dit aan te tonen 
    en waarom ik vind dat ik dit beheers.</p>

  <br>
  <h3>Personal Development</h3>
  <p>Ik heb vrij snel in het begin van dit semester 
    <a routerLink="/learningplan" routerLinkActive="active">mijn leerplan</a> opgezet. In dit leerplan heb ik beschreven in welke onderdelen ik beter wil worden. 
    De soft skils zoals teamwork, reflecteren en communiceren zijn een onderdeel hiervan.</p>

  <p>Ik heb binnen het R&D project veel samen gewerkt met de groepsgenoten. Ik ben nog geen enkele keer te laat gekomen of helemaal niet aanwezig geweest. Ik heb veel 
    samen gewerkt binnen de groep. Dit bestaat uit iedere dag een standup doen en reflecteren wat je eerder hebt gedaan, hoe dat ging en wat vandaag op de planning 
    staat. Ook 'Pair programming' hebben we toegepast. Zo heb ik vaak met Luuk naar problemen gezocht en samen opgelost. Een voorbeeld hiervan is het probleemzoeken en 
    tegelijk een update programmeren tot we het probleem gevonden hadden. Dit gebeurde vaak vanuit thuiswerken in verband met Corona.</p>

  <p>Ik heb ook feedback gegeven op code of documenten van andere en visa versa. We hadden als afspraak dat als iemand een stuk code of document gemaakt had, dat dit 
    bekeken werdt door iemand anders en hier feedback op gegeven werdt. Dit hebben we consistent gedaan om de code en documenten beter resultaat te geven en zodat we 
    ook leren om feedback te geven en te verwerken.</p>

  <p>De leerdoelen die ik opgesteld heb aan het begin van het semester zijn niet verranderd. Veel van de leerdoelen zijn van 
    de Canvas cursus, sommige leerdoelen heb ik zelf toegevoegd omdat ik hier graag meer van wilde leren. Ik heb er geen toegevoegd, weg gehaald of mijn planning 
    aangepast. Hieruit blijkt dat ik de planning in het begin goed gemaakt had.</p>

  <p class="no-bottom-margin">Ik heb ook verschillende keren groepsgenoten geholpen met problemen waar ze tegenaan liepen. Ook buiten het R&D project heb ik mensen 
    geholpen. Ik heb samen met Twan van Antwerpen uit het Blue team, testen uitgevoerd om de Wazuh connectie werkend te krijgen. Ook Vinchenzo had een probleem met 
    de deployment van zijn applicatie. Hier kon ik wel mee helpen en dat heb ik ook gedaan, zoals dat te zien is in de onderstaande afbeeldingen.</p>

  <img class="normal" src="../../../../assets/advise/vinchenzo-hulp.png">
  <p class="image">Afbeelding 1 Hulp Vinchenzo</p>
  
  <img class="normal" src="../../../../assets/advise/vinchenzo-hulp-2.png">
  <p class="image">Afbeelding 2 Hulp Vinchenzo</p>

  <br>
  <h3>Technical skills</h3>
  <p>In dit semester ben ik veel bezig geweest met technische vaardigheden. Ik ben niet alleen de diepte in gegaan maar ook de breete om van meerdere verschillende 
    soorten technieken kennis te krijgen. In <a routerLink="/implementation" routerLinkActive="active">de implementatie</a> van mijn chat applicatie Felix voor het red vs blue team event, ben ik voornamelijk ingegaan op 
    de veiligheid van die applicatie door middel van verschillende securityaspecten toe te passen, zodat die applicatie veilig te gebruiken is. Ook hier ben ik 
    de breete ingegaan om verschillende technieken toe te passen. In deze breete zitten encryptie, <a routerLink="/licensing" routerLinkActive="active">licensing</a>, 
    <a routerLink="/security_testing" routerLinkActive="active">security testing</a>, autorisatie, authenticatie met two factor authentication en overige aspecten 
    zoals input validatie en database implementatie. Meer details hierover zijn te vinden in 
    <a routerLink="/implementation" routerLinkActive="active">de implementatie</a>. Ook heb ik een 
    <a routerLink="/threat_analysis" routerLinkActive="active">threat</a>- en <a routerLink="/risk_analysis" routerLinkActive="active">risico</a> analyse van deze 
    applicatie gedaan. Deze plus al het andere betreft het implementeren heb ik in een 
    <a target="_self" href="../../../assets/Rapport.pdf" download="Felix Rapport.pdf">rapport</a> verwerkt.</p>
  
  <p>Ook heb ik workshops gevolgd en ook toegepast om ook van deze aspecten meer te leren. Deze workshops zijn 
    <a routerLink="/osint_workshop" routerLinkActive="active">OSINT</a>, 
    <a routerLink="/prevent_the_unexpected_workshop" routerLinkActive="active">preventing the unexpected</a> en 
    <a routerLink="/reverse_engineering_workshop" routerLinkActive="active">reverse code engineering</a>.</p>

  <p>Ook heb ik technische onderdelen toegepast die niet zo zeer gerelateerd zijn aan het red vs blue team event, deze onderdelen zijn vooral in de breete gedaan. Deze 
    projecten zijn het 
    <a routerLink="/rsa_project" routerLinkActive="active">handmatig toepassen van het RSA-algoritme</a>, een 
    <a routerLink="/onderzoeksplan_project" routerLinkActive="active">onderzoeksplan</a>, een onderzoek naar hoe 
    <a routerLink="/quantum_networking" routerLinkActive="active">quantum netwerken</a> veiligheid kunnen verbeteren, 
    en de werking van het <a routerLink="/compiling_project" routerLinkActive="active">compileren</a> van applicaties.</p>

  <br>
  <h3>Procedural skills</h3>
  <p>Ik heb verschillende security procedures doorgegaan voor mijn chat applicatie Felix zoals het toepassen van security by design waar ik bij het ontwikkelen van 
    de applicatie al rekening hou met de security. Hiervoor heb ik eerst eerst een 
    <a routerLink="/concept" routerLinkActive="active">concept</a> gemaakt waarvoor ik ook de eerder benoemde threat- en risico analyses heb 
    uitgevoerd. Verschillende van de leeractiviteiten beschreven in het leerplan komen ook terug in deze applicatie. Om het hele overzicht van Felix in kaart te brenge, 
    heb ik een <a target="_self" href="../../../assets/Rapport.pdf" download="Felix Rapport.pdf">rapport</a> gemaakt waarin ik op alle security threats in ga, wat hieraan 
    gedaan kan worden en wat ik hieraan heb gedaan in mijn applicatie om de risico's te verkleinen. Dit rapport heb ik vaak met Casper besproken en lings en rechts wat 
    dingen aangepast. Het eindresultaat moet een goed geschreven en duidelijk overzicht geven over mijn applicatie.</p>

  <br>
  <h3>Technical R&D</h3>
  <p>In het R&D project heb ik veel mee gewerkt aan het technische gedeelte. Ik zelf heb grotendeels de server opgezet en samen met andere de modellen en de manier 
    waarop de data tussen de RevPi en de server verstuurd wordt, uitgezocht en beschreven. Deze data structuur heeft verschillende keeren nog aanpassingen nodig gehad 
    omdat er bijvoorbeeld somige dingen niet konden of anders makkelijker gingen.</p>
    
  <p>Ook het test project voor de OPC UA implementatie heb ik grotendeels samen met Wouter geïmplementeerd en getest, helaas is dit uiteindelijk gecanceled, maar dit 
    houdt niet in dat ik hier niets van heb geleerd. Ik vond dit best leuk om te proberen en ik stond wel open om het toe te passen, maar ik begreep ook wel dat het 
    te veel tijd zou kosten om dit fatsoenlijk te implementeren.</p>

  <p>Ik ben ook veel betrokken geweest bij het meedenken van het oplossen voor verschillende problemen binnen het project. Zelfs voor problemen waarmee ik niet mee 
    bezig geweest ben zoals een eerder probleem met Python. Ik zelf heb heel weinig kennis van Python maar ik heb wel samen met Geoffrey meegekeken waarom een 
    bepaald probleem ontstond.</p>

  <br>
  <h3>Methodical R&D</h3>
  <p>Qua onderzoek en research heb ik voornamelijk in het begin en later in het project veel gedaan. Ik heb de structuur van het eind onderzoeksdocument opgezet 
    en de groepsgenoten waren het eens met de opstelling. Een kleine toevoeging kreeg ik als feedback. We hebben in de groep het onderzoek verdeeld over de 
    groepsgenoten, zodat iedereen een deel kan maken en niet dat een iemand een heel groot onderzoek helemaal alleen gedaan heeft. Ook hebben we net als bij de 
    code's, review over elkaars geschreven stukken gehouden. Hier komen dan ooit nuttige toevoegingen of bijfoorbeeld typfoutjes uit.</p>

  <p>We hebben ons hele project in Git staan waarbij we ook versie beheer hebben en zodat mensen ook aan een eigen functie kunnen werken zonder dat dit allemaal 
    door elkaar heen gaat. Luuk is de Git master, we zijn allemaal verrantwoordelijk dat Git bijgehouden wordt maar bij grote verranderingen of aanpassingen kan 
    alleen Luuk dat doen.</p>

  <p>Voor de oplevering hebben we besproken wat er opgeleverd moet gaan worden. Hieruit kwam een demo en een onderzoeksdocument waar ook adviezen staaan voor een 
    dergelijke groep die hierop verder zou gaan werken. Op aanvraag van Teade hebben we nog een uitgebreide Readme gemaakt zodat iemand onze applicatie lokaal kan 
    opzetten om dit te testen of verder onderzoek naar wil doen. Dit hebben we niet lang geleden nog getest en is nu volledig mogelijk.</p>
  
  <br>
  <h3>Collaboration and Communication</h3>
  <p>In verband met het Coronavirus is de communicatie natuurlijk anders dan normaal. Bijna alles is vanuit thuis online werken, persoonlijk vind ik samenwerken wanneer 
    je bij elkaar bent prettiger dan online, maar ondanks de maatregelen heb ik mijzelf goed kunnen aanpassen om vanuit thuis te werken.</p>

  <p>In het R&D project houden we iedere dag een stand-up waarin we vertellen wat we de vorige keer gedaan hebben, wat er goed of fout ging en wat we vandaag gaan doen, 
    dit doen we consistent iedere dag. Het contact met de project contactpersonen verloopt goed, in het begin van dit semester hebben we vaak contact het hun gehad over 
    onduidelijkheden of vragen. Teade heeft ook nog vaak contact met ons opgezocht voor een werkende versie die hij lokaal kan draaien. Dit hebben we serieus genomen en 
    verschillende updates gegeven over hoe ver dit is en wat hij qua dit betreft kan verwachten.</p>

  <p>Individueel heb ik ook vaak contact gehad met Casper en Martin voor feedback of vragen. Deze feedback kan 
    <a routerLink="/feedback" routerLinkActive="active">hier</a> gezien worden. Meestal heb ik goede feedback gekregen en ik heb het gevoel dat ik in dit semester 
    beter ben geworden qua communicatie, vooral omdat we bijna alles op afstand gedaan hebben.</p>

  <br>
  <br>
  <br>
</div>