<p class="center-text"><b>Persoonlijke ontwikkeling</b></p>
<div *ngIf=true class="middle-text-space">

  <p>Op deze pagina beschrijf ik mijn persoonlijke ontwikkeling zowel op technische- en soft skills. Per onderdeel beschrijf ik wat ik heb gedaan om dit aan te tonen 
    en waarom ik vind dat ik dit beheers.</p>

  <br>
  <h3>Personal Development</h3>
  <p>Ik heb vrij snel in het begin van dit semester 
    <a routerLink="/learningplan" routerLinkActive="active">mijn leerplan</a> opgezet. In dit leerplan heb ik beschreven in welke onderdelen ik beter wil worden. 
    De soft skils zoals teamwork, reflecteren en communiceren zijn een onderdeel hiervan.</p>

  <p>Ik heb binnen het R&D project veel samen gewerkt met de groepsgenoten. Ik ben nog geen enkele keer te laat gekomen of helemaal niet aanwezig geweest. Ik heb veel 
    samen gewerkt binnen de groep. Dit bestaat uit iedere dag een standup doen en reflecteren wat je eerder hebt gedaan, hoe dat ging en wat vandaag op de planning 
    staat. Ook 'Pair programming' hebben we toegepast. Zo heb ik vaak met Luuk naar problemen gezocht en samen opgelost. Een voorbeeld hiervan is het probleemzoeken en 
    tegelijk een update programmeren tot we het probleem gevonden hadden. Dit gebeurde vaan vanuit thuiswerken in verband met Corona.</p>

  <p>Ik heb ook feedback gegeven op code of documenten van andere en visa versa. We hadden als afspraak dat als iemand een stuk code of document gemaakt had, dat dit 
    bekeken werdt door iemand anders en hier feedback op gegeven werdt. Dit hebben we gedaan om de code en documenten beter resultaat te geven en zodat we ook leren om 
    feedback te geven en te verwerken.</p>

  <p>De leerdoelen die ik opgesteld heb aan het begin van het semester zijn niet verranderd. Veel van de leerdoelen zijn van 
    de Canvas cursus, sommige leerdoelen heb ik zelf toegevoegd omdat ik hier graag meer van wilde leren. Ik heb er geen toegevoegd, weg gehaald of mijn planning 
    aangepast. Hieruit blijkt dat ik de planning in het begin goed gemaakt had.</p>

  <p>---------- You have completed and evaluated your personal learning plan, activities and outcomes, and you show to help, inform and assist others, with positive feedback from teachers, students and externals.</p>
  
  <br>
  <h3>Technical skills</h3>

  <p></p>
  <p>---------- Your portfolio shows that you are a technical security expert with complete and in-depth knowledge and skills, and that you can help, inform and assist others.</p>
  
  <br>
  <h3>Procedural skills</h3>
  <p>Your portfolio shows that you have demonstrated AND IMPROVED security procedures and reporting products for the chosen specialism. Teachers have confirmed this with positive feedback.</p>
  
  <br>
  <h3>Technical R&D</h3>
  <p>You have demonstrated, validated and evaluated to be able to select and apply complex technology with (project) success for the required innovation.</p>
  
  <br>
  <h3>Methodical R&D</h3>
  <p>You have demonstrated and validated, but also took the lead in a methodical approach to research and development activities, and you have informed, helped and assisted others, with positive feedback from students, teachers, and externals.</p>
  
  <br>
  <h3>Collaboration and Communication</h3>
  <p>Your portfolio demonstrates that you independently set up and performed internal and external project management, and written and oral communication, with evaluation and reflection and positive feedback from the project client, the teacher(s) and your project group members.</p>



  <br>
  <br>
  <br>
</div>