<p class="center-text">Projecten</p>
<div class="projects-space">
  <div class="project" (click)="navigate('ethics_project')">
    <img src="../../../assets/ethics project.png">
  </div>
  <div class="project" (click)="navigate('research_approach_project')">
    <img src="../../../assets/research approach.png">
  </div>
  <div class="project" (click)="navigate('concept_project')">
    <img src="../../../assets/concept.jpg">
  </div>
  <div class="project" (click)="navigate('workshop_project')">
    <img src="../../../assets/workshop.jpg">
  </div>
  <div *ngIf="false" class="project" (click)="navigate('sample')">
    <img src="../../../assets/sample project.png">
  </div>
  <!--
  <div class="project" (click)="navigate('not-implemented-yet')">
    
  </div>-->
</div>