<p class="center-text">Projecten</p>
<div class="projects-space">
  <div class="project" (click)="navigate('ethics_project')">
    <img src="../../../assets/ethics project.png">
  </div>
  <div class="project" (click)="navigate('research_approach_project')">
    <img src="../../../assets/research approach.png">
  </div>
  <div class="project" (click)="navigate('workshop_project')">
    <img src="../../../assets/workshop.jpg">
  </div>
  <div class="project" (click)="navigate('felix')">
    <img src="../../../assets/felix.png">
  </div>
  <div class="project" (click)="navigate('quantum_networking')">
    <img src="../../../assets/quantum-networking.jpg">
  </div>
  <div class="project" (click)="navigate('onderzoeksplan_project')">
    <img src="../../../assets/onderzoeksplan.png">
  </div>
  <div class="project" (click)="navigate('rsa_project')">
    <img src="../../../assets/rsa.jpg">
  </div>


  <!--
  <div class="project" (click)="navigate('not-implemented-yet')">
    
  </div>-->
</div>