<p class="center-text">Specialisatie</p>
<div class="middle-text-space">
  <h1>Specialisatie</h1>
  <p class="no-bottom-margin">In het begin van dit semester heb ik moeten kiezen tussen drie leer richtingen (of een mix) waar ik mijzelf verder in wil specialiseren. 
    Deze drie richtingen zijn:</p>
  <ul>
    <li class="text">Security engineering;</li>
    <li class="text">Blue teaming;</li>
    <li class="text">Red teaming.</li>
  </ul>
  <br>
  <p>Ik heb de security engineering richting gekozen omdat ik programmeren leuk vind. Vooral hoe ik applicaties beter en veiliger kan maken. Blue- en red teaming lijkt mij 
    minder leuk om mijzelf daarin verder te specialiseren. Ik vind het ook leuk om te onderzoeken hoe het kan dat bepaalde security zo krachtig kan zijn, hierbij zit 
    bijvoorbeeld het toepassen van encryptie, maar ook het onderzoeken hoe deze encryptie inhoudelijk werkt. Door de mix van het programmeren en het onderzoeken en toepassen 
    van security leek dit voor mij de best passende richting.</p>
  <br>
  <p>Ik wil na deze opleiding misschien nog de master opleiding doen in de richting computer science, daar kan ik mijzelf nog verder specialiseren. Na die opleiding wil ik 
    gaan werken, waar weet ik nog niet, maar waarschijnlijk wel waar ik veel te maken heb met security maar ook wat afwisseling heb met programmeren.</p>
  <br>
  <h1>Activiteiten</h1>
  <p>De activiteiten voor dit semester zijn verdeeld over een R&D Project wat ik samen met mijn groep uitvoer en een individueel gedeelte. 
    <a routerLink="/rdproject" routerLinkActive="active">Hier</a> is meer te lezen over het R&D Project. 
    De activiteiten voor het individuele gedeelte worden hier verder beschreven.</p>
  <br>
  <p>Ik heb in de Canvas de excercises en challenges doorgelezen en ik heb er hier verschillende van uitgekozen. Om deze uit te voeren en aan te tonen wil ik een chat 
    applicatie maken waarbij een aantal van deze excercises en challenges in voorkomen. Het is mogelijk dat niet ze allemaal in deze applicatie aangetoond kunnen worden,
     hiervoor zal ik dan een aparte applicatie maken waarin ik deze als nog aantoon. Het is mogelijk dat ik dat sowieso doe om bijvoorbeeld meerdere manieren laat zien. 
     De chat applicatie kan ik dan ook gebruiken voor het Red Team vs Blue Team event. Hoe ik dit wil aanpakken is te lezen in het 
     <a routerLink="/learningplan" routerLinkActive="active">leerplan</a>.</p>
  <br>
  <p>De uitwerking van deze activiteiten heb ik verdeeld in verschillende projecten, deze zijn <a routerLink="/projects" routerLinkActive="active">hier</a> te zien.</p>
  <br>
  <br>
  <br>
</div>